<template>
  <el-table :data="getAddressTable" stripe style="width: 100%">
    <el-table-column prop="address" label="Address" width="500"></el-table-column>
    <el-table-column prop="balance" label="Balance" width="120"></el-table-column>
    <el-table-column prop="index" label="Index" width="120"></el-table-column>
    <el-table-column prop="isChangeAddress" label="IsChangeAddress" width="150"></el-table-column>
  </el-table>
</template>

<script>
export default {
  computed: {
    getAddressTable() {
      return this.$store.getters.getAddressTable
    }
  }

};
</script>

<style scoped>
.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.el-aside {
  color: #333;
}
</style>
