<template>
    <el-form class="box-card" ref="form" :model="form" label-width="180px">
      <el-form-item label="coin">
        <el-radio v-model="form.coin" label="BTC" @change="onCoinChange">BTC</el-radio>
        <el-radio v-model="form.coin" label="ETH" @change="onCoinChange">ETH</el-radio>
        <el-radio v-model="form.coin" label="XRP" @change="onCoinChange">XRP</el-radio>
      </el-form-item>
      <el-form-item label="Xprv">
        <el-input type="textarea" v-model="form.xprv" placeholder="xprv" @blur="getXpubFromXprv"></el-input>
      </el-form-item>
      <el-form-item label="Xpub">
        <el-input type="textarea" v-model="form.xpub" placeholder="Xpub" @focus="getXpubFromXprv"></el-input>
      </el-form-item>
      <el-form-item label="BIP32 Derivation Path">
        <el-input v-model="form.derivePath" placeholder="BIP32 Derivation Path" @blur="setDerivePath" class="derive-path-input"></el-input>
      </el-form-item>
      <el-form-item label="To">
        <el-input v-model="form.to" placeholder="Input receive address"></el-input>
      </el-form-item>
      <el-form-item label="Index start">
        <el-input-number v-model="form.indexStart"></el-input-number>
      </el-form-item>
      <el-form-item label="Index to">
        <el-input-number v-model="form.indexEnd"></el-input-number>
      </el-form-item>
      <el-divider></el-divider>
      <el-form-item>
        <el-button type="primary" @click="onScan" :disabled="this.form.processingStatus.recovering">Scan</el-button>
        <el-button type="primary" @click="onRecover" >Recover</el-button>
        <el-button @click="onReset">Reset</el-button>
      </el-form-item>
    </el-form>
</template>

<script>
export default {
  created() {
    const { host } = this.$data.server;
    const { coin } = this.form;
    const postData = { method: "getSetPath", params: { handler: coin, data: { inputPath: '' }} };
    this.$http.post(host, postData).then((response) => {
        const { result, error } = response.data;
        if (error) this.$message.error(`get or set derive path error:${error}`);
        if (result) this.form.derivePath = result.derivePath;
    });
  },
  data() {
    return {
      form: this.$store.state.form,
    };
  },
  methods: {
    onScan(){
      this.$store.commit('clear');
      const { host } = this.$data.server;
      const { coin, xpub, indexStart, indexEnd } = this.form;
      if(!coin)  {
        this.$message('Coin is null, please input coin.');
        return;
      }
      if(!xpub)  {
        this.$message('Xpub is null, please input Xprv or Xpub');
        return;
      }
      if(!indexStart< 0)  {
        this.$message('IndexStart should be greater or equal 0');
        return;
      }
      if (indexEnd <1) {
        this.$message('IndexStart should be greater or equal 1');
        return;
      }
      const postData = { method: "scan", params: { handler: coin, data: {  xpub, skip: indexStart, limit: indexEnd }} }; 
      this.$http.post(host, postData).then((response) => {
         const { result, error } = response.data;
         if (error) this.$message.error(`scan address error:${error}`);
         if (result) {
           this.$store.commit('changeRecoveringStatus', true);
           this.$message({
            message: 'Submit scan tast successfully',
            type: 'success'
            });
         }
      });
    },
    setDerivePath() {
      const { host } = this.$data.server;
      const { coin, derivePath } = this.form;
      const postData = { method: "getSetPath", params: { handler: coin, data: { inputPath: derivePath }} };
      this.$http.post(host, postData).then((response) => {
         const { result, error } = response.data;
         if(error) this.$message.error(`get or set derive path error:${error}`);
         if(result) this.form.derivePath = result.derivePath;
      });

    },
    onCoinChange(){
      const { host } = this.$data.server;
      const { coin } = this.form;
      if(!coin) return;
      const postData = { method: "getSetPath", params: { handler: coin, data: { inputPath: '' }} };
      this.$http.post(host, postData).then((response) => {
         const { result, error } = response.data;
         if(error) this.$message.error(`get or set derive path error:${error}`);
         if(result) this.form.derivePath = result.derivePath;
      });
    },
    getXpubFromXprv(){
      const { host } = this.$data.server;
      const { coin, xprv } = this.form;
      if(!coin) return;
      if(!xprv) return;
      const postData = { method: "getXpubFromXprv", params: { handler: coin, data: { xprv }} };
      this.$http.post(host, postData).then((response) => {
         const { result, error } = response.data;
         if(error) this.$message.error(`get Xpub from Xprv error:${error}`);
         if(result) this.form.xpub = result;
      });
    },
    onRecover() {
      const { host } = this.$data.server;
      const { coin, xprv, to } = this.form;
      const postData = { method: "recoverV2", params: { handler: coin, data: { xprv, to  }} };
       if(!coin)  {
         this.$message('Coin is null, please input coin.');
         return;
       }
      if(!xprv)  {
        this.$message('Xprv is null, please input Xprv');
        return; 
      }
      if(!to)  {
        this.$message('Destination address is null, please input receive address');
        return;
      }
      this.$http.post(host, postData).then((response) => {
        const { result, error } = response.data;
        if(error) this.$message(error);
        if(result) this.$message({
            message: 'Submit scan task successfully',
            type: 'success'
         });
      });
    },
    onReset() {
      //  this.$store.commit('changeRecoveringStatus', false);
      const { host } = this.$data.server;
      const { coin } = this.form;
      const postData = { method: "stopScanning", params: { handler: coin } };
       this.$http.post(host, postData).then((response) => {
        const { result, error } = response.data;
        if(error) this.$message(error);
        if(result){
          this.$store.commit('reset');
          this.$message({
            message: 'Interupt task successfully',
            type: 'success'
          });
        } 
       });
      
    }
  }
};
</script>

<style scoped>
.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.derive-path-input {
  width: 200px;
}

.el-aside {
  color: #333;
}

.box-card {
  min-width: 600px;
  height: 600px;
}
</style>
