<template>
  <el-header class="header" height='100px'>
      Beacon recovery tool
  </el-header>
</template>

<style scoped>
.header {
  background-color: #00276e;
  color: #ffffff;
  font-size: 3em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 100px;
}
</style>
