<template>
  <el-card class="box-card">
    <el-tabs v-model="activeTabs">
        <el-tab-pane label="Recover from HD" name="recoverHD">
            <el-tabs  type="border-card" v-model="activeRecoverHD">
              <el-tab-pane label="RecoverKeystone" name="RecoverKeystone">
                <RecoverKeystone />
              </el-tab-pane>
              <el-tab-pane label="Send" name="Send">
                <HDRecover />
              </el-tab-pane>
            </el-tabs>
        </el-tab-pane>
        <el-tab-pane label="Recover from privatekey" name="RecoverSingle">
            <el-tabs type="border-card" v-model="activeRecoverSingle" >
              <el-tab-pane label="Recover from privatekey" name="recoverPrivatekey">
                <PrivatekeyRecover />
              </el-tab-pane>
            </el-tabs>
        </el-tab-pane>
      </el-tabs>
  </el-card>
</template>


<script>
  import PrivatekeyRecover from './PrivatekeyRecover.vue'
  import HDRecover from './HDRecover.vue'
  import RecoverKeystone from './RecoverKeystone.vue'

  export default {
    data() {
      return {
        activeTabs: 'recoverHD',
        activeRecoverHD: 'RecoverKeystone',
        activeRecoverSingle: 'recoverPrivatekey',
      };
    },
    components: {
      HDRecover,
      RecoverKeystone,
      PrivatekeyRecover
    }
  };
</script>


<style scoped>

.box-card {
  min-width: 600px;
  min-height: 600px;
}
</style>
