<template>
    <el-form class="box-card" ref="form" :model="form" label-width="180px">
      <el-form-item label="coin">
        <el-radio v-model="form.coin" label="BTC">BTC</el-radio>
        <el-radio v-model="form.coin" label="ETH">ETH</el-radio>
        <el-radio v-model="form.coin" label="XRP">XRP</el-radio>
      </el-form-item>
      <el-form-item label="private key">
        <el-input v-model="form.privatekey" placeholder="Input privatekey"  @blur="deriveAddressFromSecreteKey"></el-input>
      </el-form-item>
      <el-form-item label="address">
        <el-input v-model="form.address" placeholder="Input address" @focus="deriveAddressFromSecreteKey"></el-input>
      </el-form-item>
      <el-form-item label="To">
        <el-input v-model="form.to" placeholder="Input receive address"></el-input>
      </el-form-item>
      <el-divider></el-divider>
      <el-form-item>
        <el-button type="primary" @click="onScan" :disabled="this.form.processingStatus.recovering">Scan</el-button>  
        <el-button type="primary" @click="onRecover">Recover</el-button>
        <el-button @click="onReset">Reset</el-button>
      </el-form-item>
    </el-form>
</template>

<script>
export default {
  created() {
      this.form.indexStart = 0;
      this.form.indexEnd = 1;
  },
  data() {
    return {
      form: this.$store.state.form,
    };
  },
  methods: {
    deriveAddressFromSecreteKey(){
      const { host } = this.$data.server;
      const { coin, privatekey: secreteKey } = this.form;
      if(!coin) return;
      if(!secreteKey) return;
      const postData = { method: "deriveAddressFromSecreteKey", params: { handler: coin, data: { secreteKey }} };
      this.$http.post(host, postData).then((response) => {
         const { result, error } = response.data;
         if(error) this.$message.error(`get address from secreteKey error:${error}`);
         if(result) this.form.address = result;
      });
    },
    onScan(){
      this.$store.commit('clear');
      const { host } = this.$data.server;
      const { coin, address } = this.form;
      if(!coin)  {
        this.$message('Coin is null, please input coin.');
        return;
      }
      if(!address)  {
        this.$message('address is null, please input address');
        return;
      }
    
      const postData = { method: "scanSingleAddress", params: { handler: coin, data: { address }} }; 
      this.$http.post(host, postData).then((response) => {
         const { result, error } = response.data;
         if (error) this.$message.error(`scan address error:${error}`);
         if (result) {
           this.$store.commit('changeRecoveringStatus', true);
           this.$message({
            message: 'Submit scan tast successfully',
            type: 'success'
            });
         }
      });
    },
    onRecover() {
      const { host } = this.$data.server;
      const { coin, privatekey: secreteKey, to } = this.form;
      const postData = { method: "recoverSingleAddress", params: { handler: coin, data: { secreteKey, to  }} };
       if(!coin)  {
         this.$message('Coin is null, please input coin.');
         return;
       }
      if(!secreteKey)  {
        this.$message('Privatekey is null, please input Privatekey');
        return; 
      }
      if(!to)  {
        this.$message('Destination address is null, please input receive address');
        return;
      }
      this.$http.post(host, postData).then((response) => {
        const { result, error } = response.data;
        if(error) this.$message(error);
        if(result) this.$message({
            message: 'Submit scan task successfully',
            type: 'success'
         });
      });
    },
    onReset() {
      //  this.$store.commit('changeRecoveringStatus', false);
      this.$store.commit('clear');
      this.$store.commit('reset');
    }
  }
};
</script>

<style scoped>
.el-header {
  background-color: #b3c0d1;
  color: #333;
  line-height: 60px;
}

.derive-path-input {
  width: 200px;
}

.el-aside {
  color: #333;
}

.box-card {
  min-width: 600px;
  height: 600px;
}
</style>
