<template>
    <el-form class="box-card" ref="form" :model="paperkey" label-width="180px">
      <el-form-item label="Keystone">
        <el-input type="textarea"  :rows="7" v-model="paperkey.keystone" placeholder="Keystone from paper key"></el-input>
      </el-form-item>
      <el-form-item label="Keyfile" >
        <el-input type="textarea" :rows="6" v-model="paperkey.keyfile" placeholder="Private key of Recovery service provider"></el-input>
      </el-form-item>
      <el-form-item label="Xprv">
        <el-input type="textarea" v-model="paperkey.xprv" placeholder="xprv"></el-input>
      </el-form-item>
      <el-divider></el-divider>
      <el-form-item>
        <el-button type="primary" @click="onRecover" >Recover</el-button>
        <el-button @click="onReset">Reset</el-button>
      </el-form-item>
    </el-form>
</template>

<script>
export default {
  data() {
    return {
      paperkey:  {
          keystone: '',
          keyfile: '',
          xprv: '',
      }
    };
  },
  methods: {
    onRecover() {
      const { host } = this.$data.server;
      const { keystone, keyfile } = this.paperkey;

      
       if(!keystone)  {
         this.$message('keystone is null, please input keystone.');
         return;
       }
      if(!keyfile)  {
        this.$message('keyfile is null, please input keyfile');
        return; 
      }
 
      const postData = { method: "getXprvAndXpubFromKeyStone", params: { handler: 'hd', data: { keystone, keyfile  }} };
      this.$http.post(host, postData).then((response) => {
        const { result, error } = response.data;
        if(error) this.$message(error);
        if(result) {
            this.paperkey.xprv = result.xprv;
            this.$message({
            message: result,
            type: 'success'
         });
        }
      });
    },
    onReset() {
      //  this.$store.commit('changeRecoveringStatus', false);
      const { host } = this.$data.server;
      const { coin } = this.form;
      const postData = { method: "stopScanning", params: { handler: coin } };
       this.$http.post(host, postData).then((response) => {
        const { result, error } = response.data;
        if(error) this.$message(error);
        if(result){
          this.$store.commit('reset');
          this.$message({
            message: 'Interupt task successfully',
            type: 'success'
          });
        } 
       });
    }
  }
};
</script>

<style scoped>
.privatekey-text-area {
    min-height: 365px;
}

.box-card {
  min-width: 600px;
  min-height: 100px;
}
</style>
