<template>
  <el-card class="box-card">
    <div slot="header" class="clearfix">
      <span>Progress</span>
    </div>
    <el-progress v-if="progressType==='scan'" type="circle" :percentage="getProgressScan.percentage" :status="getProgressScan.status"></el-progress>
    <p>address count</p>
    <p :class="getProgressScan.numberStyle">{{ getStatus.totalAddressCount }}</p>
    <p>total amount</p>
    <p :class="getProgressScan.numberStyle">{{ getStatus.totalValue }}</p>
    <p v-if="progressType==='recover'">transaction count</p>
    <p v-if="progressType==='recover'" :class="getProgressRecover.numberStyle">{{ getStatus.currentTransactionCount }}</p>
  </el-card>
</template>

<script>
export default {
  data() {
    return {
      progressType: 'scan',
    };
  },
  computed: {
    getStatus() {
      return this.$store.getters.getStatus;
    },
    getProgressScan() {
      const { indexStart, indexEnd } = this.$store.state.form;
      const { totalAddressCount } = this.$store.state.status;
      let percentage = 0;
      let status = null;
      let numberStyle = 'number';
      if (indexEnd > indexStart) {
        percentage = Number.parseFloat(Number((totalAddressCount / (indexEnd - indexStart)) * 100).toFixed(2));
        if (totalAddressCount >= (indexEnd - indexStart)) {
          status = 'success';
          numberStyle = 'numberFinished';
          this.$store.commit('changeRecoveringStatus', false);
        }
      }
      return { percentage, status, numberStyle };
    },
  },
};
</script>

<style scoped>
.box-card {
  min-width: 200px;
  height: 765px;
}
.number {
  color: #409eff;
  font-size: 3em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.numberFinished {
  color: #67c23a;
  font-size: 3em;
  margin-block-start: 0;
  margin-block-end: 0;
}
</style>
