<template>
  <el-card class="box-card">
    <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="Addresses" name="addresses">
          <AddressTable :data="this.addressData" />
        </el-tab-pane>
        <el-tab-pane label="Transactions" name="transactions">
          <TransactionTable :data="this.transactionData" />
        </el-tab-pane>
      </el-tabs>
  </el-card>
</template>

<script>
  import AddressTable from './AddressTable.vue'
  import TransactionTable from './TransactionTable.vue'

  export default {
     created() {
      this.$socket.$subscribe('address', data => {
        this.$store.commit('pushAddress', data);
        this.$store.commit('updateStatus', { totalAddress: 1, totalValue: data.total });
      });
      this.$socket.$subscribe('transaction', data => {
        this.$store.commit('pushTransaction', data);
      });
    },
    data() {
      return {
        activeName: 'addresses',
        addressData: [],
        transactionData: [],
      };
    },
    methods: {
      handleClick(tab, event) {
        console.log(tab, event);
      }
    },
    components: {
    // Header,
      AddressTable,
      TransactionTable,
    }
  };
</script>

<style scoped>
</style>
