<template>
  <el-table :data="getTransactionTable" stripe style="width: 100%">
    <el-table-column prop="txid" label="Txid" width="640"></el-table-column>
    <el-table-column prop="amount" label="Amount" width="200"></el-table-column>
    <el-table-column prop="fee" label="Fee" width="200"></el-table-column>
    <el-table-column prop="ts" label="Time" width="300"></el-table-column>
  </el-table>
</template>

<script>
export default {
  computed: {
    getTransactionTable() {
      return this.$store.getters.getTransactionTable
    }
  }
};
</script>