<template>
  <div class="organization-create">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.organization') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.organization_create') }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-section :title="$t('organization_create.title')">
      <el-form 
        class="form" 
        :model="form"
        ref="form"
        label-position="top"
        @submit.native.prevent="submit"
      >
        <el-form-item 
          :label="$t('organization_create.name')"
          prop="name"
          :rules="rules.name"
        >
          <el-input v-model="form.name" />
        </el-form-item>
        <el-form-item
          v-for="(owner, index) in form.owners"
          :label="index === 0 ? $t('organization_create.owner') : ''"
          :key="index"
          :prop="'owners.' + index"
          :rules="rules.owner(index)"
        >
          <div class="container">
            <el-input v-model="form.owners[index]" :placeholder="$t('organization_create.email')" />
            <el-button 
              v-if="form.owners.length > 1" 
              class="button" 
              @click="() => del(index)"
            >
              {{ $t('organization_create.delete') }}
            </el-button>
          </div>
        </el-form-item>
        <el-form-item :label="$t('organization_create.memo')">
          <el-input v-model="form.memo" type="textarea" />
        </el-form-item>
        <el-form-item>
          <el-button 
            native-type="submit" 
            type="primary"
          >
            {{ $t('form.submit') }}
          </el-button>
          <el-button @click="add">
            {{ $t('organization_create.add_owner') }}
          </el-button>
          <el-button native-type="reset" @click="reset">
            {{ $t('form.reset') }}
          </el-button>
        </el-form-item>
      </el-form>
    </el-section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        owners: [''],
      },
    };
  },
  computed: {
    rules() {
      return {
        name: [
          { 
            required: true,
            message: this.$t('form_rules.required', { key: this.$t('organization_create.name') }),
          },
        ],
        owner: (index) => {
          return [
            { 
              required: true,
              message: this.$t('form_rules.required', { key: this.$t('organization_create.email') }),
            },
            { 
              type: 'email', 
              message: this.$t('form_rules.email_format', { value: this.form.owners[index] }),
            },
          ];
        },
      };
    },
  },
  methods: {
    add() {
      this.form.owners.push('');
    },
    del(index) {
      if (!this.form.owners[index]) {
        this.form.owners.splice(index, 1);
        return;
      }
      this.$confirm(
        this.$t('delete_alert.message'), 
        this.$t('delete_alert.title'), 
        {
          confirmButtonText: this.$t('delete_alert.confirm'),
          cancelButtonText: this.$t('delete_alert.cancel'),
          type: 'warning',
        },
      ).then(() => {
        this.form.owners.splice(index, 1);
      });
    },
    submit() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.resetFields();
    },
  },
};
</script>


<style lang="scss" scoped>
.organization-create {
  .form {
    max-width: 500px;
  }

  .container {
    display: flex;

    .button {
      margin-left: 15px;
    }
  }
}
</style>
