<template>
  <div class="organization-detail">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.organization') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item :to="{ name: 'organization-list' }">
        {{ $t('navbar.organization_list') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ organization.name }}
      </el-breadcrumb-item>
    </el-breadcrumb>    
    <el-section :title="$t('organization_detail.overview')">
      <table class="info">
        <tr>
          <td>{{ $t('organization_detail.name') }}</td>
          <td>{{ organization.name }}</td>  
        </tr>
        <tr>
          <td>{{ $t('organization_detail.created_at') }}</td>
          <td>{{ organization.created | formatDate('YYYY-MM-DD HH:mm:ss') }}</td>  
        </tr>
      </table>
      <el-button 
        size="mini"
        @click="$router.push({ name: 'tx-list', query: { organization: organization.organizationId } })"
      >
        {{ $t('organization_detail.tx_all') }}
      </el-button>
      <el-button 
        size="mini"
        @click="$router.push({ name: 'user-list', query: { organization: organization.organizationId } })"
      >
        {{ $t('organization_detail.user_all') }}
      </el-button>
      <el-button 
        size="mini"
        @click="$router.push({ name: 'wallet-list', query: { organization: organization.organizationId } })"
      >
        {{ $t('organization_detail.wallet_all') }}
      </el-button>
      <el-button 
        size="mini"
        type="warning" 
        plain
        @click="$router.push({ name: 'user-create', query: { organization: organization.organizationId } })"
      >
        {{ $t('organization_detail.add_owner') }}
      </el-button>
    </el-section>
    <el-section :title="$t('organization_detail.summary')">
      <el-table :data="summary" stripe>
        <el-table-column
          :label="$t('organization_detail.coin')"
          show-overflow-tooltip
        >
          <template slot-scope="scope"> 
            <coin :type="scope.row.coin" :size="16" />
            <span class="coin">{{ $t(`coin.${scope.row.coin}`) }}</span>
          </template>
        </el-table-column>
        <el-table-column 
          :label="$t('organization_detail.balance')"
          align="center"
          show-overflow-tooltip
        >
          <template slot-scope="scope"> 
            {{ $n(scope.row.balance, `coin.long.${scope.row.coin}`) }}
          </template>
        </el-table-column>
        <el-table-column 
          :label="$t('organization_detail.sent_amount')"
          align="center"
          show-overflow-tooltip
        >
          <template slot-scope="scope"> 
            {{ $n(scope.row.sentAmount, `coin.long.${scope.row.coin}`) }}
          </template>
        </el-table-column>
        <el-table-column 
          :label="$t('organization_detail.sent_count')"
          align="center"
          show-overflow-tooltip
        >
          <template slot-scope="scope"> 
            {{ $n(scope.row.sentCount, 'count') }}
          </template>
        </el-table-column>
        <el-table-column 
          :label="$t('organization_detail.received_amount')"
          align="center"
          show-overflow-tooltip
        >
          <template slot-scope="scope"> 
            {{ $n(scope.row.receivedAmount, `coin.long.${scope.row.coin}`) }}
          </template>
        </el-table-column>
        <el-table-column 
          :label="$t('organization_detail.received_count')"
          align="center"
          show-overflow-tooltip
        >
          <template slot-scope="scope"> 
            {{ $n(scope.row.receivedAmount, 'count') }}
          </template>
        </el-table-column>
      </el-table>
    </el-section>
    <el-section :title="$t('organization_detail.config')">
      <el-form 
        class="form" 
        ref="form"
        :model="form"
        @submit.native.prevent="submit" 
        label-position="top"
      >
        <el-form-item :label="$t('organization_detail.min_admin')">
          <el-input-number v-model="form.minAdmin" :min="1" />
        </el-form-item>
        <el-form-item :label="$t('organization_detail.min_approver')">
          <el-input-number v-model="form.minApprover" :min="1" />
        </el-form-item>
        <el-form-item :label="$t('organization_detail.min_operator')">
          <el-input-number v-model="form.minOperator" :min="1" />
        </el-form-item>
        <el-form-item :label="$t('organization_detail.memo')">
          <el-input v-model="form.memo" type="textarea" />
        </el-form-item>
        <el-form-item>
          <el-button 
            native-type="submit" 
            type="primary"
          >
            {{ $t('form.submit') }}
          </el-button>
          <el-button @click="reset">
            {{ $t('form.reset') }}
          </el-button>
        </el-form-item>
      </el-form>
    </el-section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      organization: {
        name: 'Google',
        organizationId: '123',
        created: new Date(),
      },
      summary: [
        {
          coin: 'BTC',
          receivedCount: 1032,
          sentCount: 2432,
          balance: '12.3123',
          receivedAmount: '10.12349123',
          sentAmount: '8.219392',
        },
        {
          coin: 'ETH',
          receivedCount: 1032,
          sentCount: 2432,
          balance: '457.123895',
          receivedAmount: '10.12349123',
          sentAmount: '8.219392',
        },
        {
          coin: 'XRP',
          receivedCount: 1032,
          sentCount: 2432,
          balance: '55.312371',
          receivedAmount: '10.12349123',
          sentAmount: '8.219392',
        },
      ],
      form: {
        minAdmin: 1,
        minApprover: 1,
        minOperator: 1,
        memo: '',
      },
    };
  },
  methods: {
    submit() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.resetFields();
    },
  },
};
</script>

<style lang="scss" scoped>
.organization-detail {
  .info {
    margin-bottom: 10px;
  }

  .coin {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
  }

  .form {
    max-width: 500px;
  }
}
</style>
