<template>
  <div class="organization-list">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.organization') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.organization_list') }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-section :title="$t('search.label')">
      <el-form @submit.native.prevent="submit">
        <el-row :gutter="15">
          <el-col :sm="6">
            <el-form-item class="no-margin-bottom">
              <el-input 
                v-model="form.name"
                :placeholder="$t('organization_list.name')" 
              />
            </el-form-item>
          </el-col>
          <el-col :sm="7">
            <el-form-item class="no-margin-bottom">
              <el-date-picker
                style="width: 100%"
                v-model="form.time"
                type="datetimerange"
                clearable
                :range-separator="$t('organization_list.to')"
                :start-placeholder="$t('organization_list.start_time')"
                :end-placeholder="$t('organization_list.end_time')"
              />
            </el-form-item>
          </el-col>
          <el-col :sm="11">
            <el-button 
              native-type="submit" 
              type="primary"
            >
              {{ $t('form.submit') }}
            </el-button>
            <el-button 
              native-type="reset"
            >
              {{ $t('form.reset') }}
            </el-button>
          </el-col>
        </el-row>
        
      </el-form>
    </el-section>
    <el-section :title="$t('organization_list.list') + ` (${count})`">
      <el-table :data="list" stripe>
        <el-table-column 
          :label="$t('organization_list.name')" 
          prop="name" 
          show-overflow-tooltip
        />
        <el-table-column 
          align="center" 
          :label="$t('organization_list.created_at')" 
          prop="created"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            {{ scope.row.created | formatDate('YYYY-MM-DD HH:mm:ss') }}
          </template>
        </el-table-column>
        <el-table-column 
          align="center" 
          :label="$t('organization_list.owner')" 
          prop="owner" 
          show-overflow-tooltip
        />
        <el-table-column 
          align="center" 
          :label="$t('organization_list.member')" 
          prop="member" 
          show-overflow-tooltip
        />
        <el-table-column 
          align="center" 
          :label="$t('organization_list.wallet')" 
          prop="wallet" 
          show-overflow-tooltip
        />
        <el-table-column 
          align="center" 
          :label="$t('organization_list.btc')" 
          prop="wallet"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            {{ $n(scope.row.BTC, 'coin.long.BTC') }}
            {{ $t('coin.BTC') }}
          </template>
        </el-table-column>
        <el-table-column 
          align="center" 
          :label="$t('organization_list.xrp')" 
          prop="wallet"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            {{ $n(scope.row.XRP, 'coin.long.XRP') }}
            {{ $t('coin.XRP') }}
          </template>
        </el-table-column>
        <el-table-column 
          align="center" 
          :label="$t('organization_list.eth')" 
          prop="wallet"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            {{ $n(scope.row.ETH, 'coin.long.ETH') }}
            {{ $t('coin.ETH') }}
          </template>
        </el-table-column>
        <el-table-column align="center">
          <template slot-scope="scope">
            <el-dropdown 
              trigger="click" 
              @command="(config) => $router.push(config)"
            >
              <a class="options">
                {{ $t('organization_list.options') }}
              </a>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item :command="{ name: 'user-create', query: { organizationId: scope.row.organizationId } }">
                  {{ $t('organization_list.add_owner') }}
                </el-dropdown-item>
                <el-dropdown-item
                  divided
                  :command="{ name: 'organization-detail', params: { organizationId: scope.row.organizationId } }"
                >
                  {{ $t('organization_list.view') }}
                </el-dropdown-item>
                <el-dropdown-item 
                  divided
                  :command="{ name: 'tx-list', query: { name: scope.row.name } }"
                >
                  {{ $t('organization_list.tx_all') }}
                </el-dropdown-item>
                <el-dropdown-item :command="{ name: 'user-list', query: { name: scope.row.name } }">
                  {{ $t('organization_list.user_all') }}
                </el-dropdown-item>
                <el-dropdown-item :command="{ name: 'wallet-list', query: { name: scope.row.name } }">
                  {{ $t('organization_list.wallet_all') }}
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>
      <footer class="pagination">
        <el-pagination 
          hide-on-single-page
          small
          layout="prev, pager, next"
          :total="50"
        />
      </footer>
    </el-section>
  </div>
</template>

<script>
import * as organizationServ from '@/services/organization';

export default {
  data() {
    return {
      form: {
        name: '',
        time: [],
      },
      list: [],
      count: 0,
    };
  },
  methods: {
    submit() {},
  },
  mounted() {
    organizationServ.list().then((res) => {
      const { list, count } = res;

      this.list = list;
      this.count = count;
    });
  },
};
</script>

<style lang="scss" scoped>
.organization-list {
  .options {
    cursor: pointer;
  }
}
</style>
