<template>
  <div class="config">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.config') }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-section :title="$t('config.title')">
      <el-form
        class="form"
        :model="form"
        :rules="rules"
        ref="form"
        label-position="top"
        @submit.native.prevent="submit"
      >
        <el-form-item :label="$t('config.signup_url')" prop="signupURL">
          <el-input v-model="form.signupURL" />
        </el-form-item>
        <el-form-item :label="$t('config.device_url')" prop="deviceURL">
          <el-input v-model="form.deviceURL" />
        </el-form-item>
        <el-form-item :label="$t('config.reset_url')" prop="resetURL">
          <el-input v-model="form.resetURL" />
        </el-form-item>
        <el-form-item :label="$t('config.api_limit')">
          <el-input-number v-model="form.apiLimit" :min="0" :step="10" />
        </el-form-item>
        <el-form-item :label="$t('config.memo')">
          <el-input v-model="form.memo" type="textarea" />
        </el-form-item>
        <el-form-item>
          <el-button 
            native-type="submit" 
            type="primary"
          >
            {{ $t('form.submit') }}
          </el-button>
          <el-button @click="reset">
            {{ $t('form.reset') }}
          </el-button>
        </el-form-item>
      </el-form>
    </el-section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {
        signupURL: 'https://test.prometheus.studio/signup?email={email}',
        deviceURL: 'https://test.prometheus.studio/device?deviceId={deviceId}',
        resetURL: 'https://test.prometheus.studio/reset?email={email}',
        apiLimit: 100,
        memo: '',
      },
    };
  },
  computed: {
    rules() {
      return {
        signupURL: [
          { 
            required: true, 
            message: this.$t('form_rules.required', { key: this.$t('config.signup_url') }),
          },
          { 
            type: 'url', 
            message: this.$t('form_rules.url_format', { value: this.form.signupURL }),
          },
        ],
        deviceURL: [
          { 
            required: true, 
            message: this.$t('form_rules.required', { key: this.$t('config.device_url') }),
          },
          { 
            type: 'url', 
            message: this.$t('form_rules.url_format', { value: this.form.deviceURL }),
          },
        ],
        resetURL: [
          { 
            required: true, 
            message: this.$t('form_rules.required', { key: this.$t('config.reset_url') }),
          },
          { 
            type: 'url', 
            message: this.$t('form_rules.url_format', { value: this.form.resetURL }),
          },
        ],
      };
    },
  },
  methods: {
    submit() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.resetFields();
    },
  },
};
</script>

<style lang="scss" scoped>
.config {
  .form {
    max-width: 500px;
  }
}
</style>
