<template>
  <div class="home">
    <h3 class="welcome">
      {{ $t(`home.welcome.${hours > 12 ? 'afternoon' : 'morning'}`, { username }) }}
    </h3>
    <el-row :gutter="20" class="overview">
      <el-col :md="8">
        <el-section :title="$t('home.organization_count')">
          <span slot="more" class="added">
            {{ $t('home.added_today', { num: $n(addedToday.organization, 'count') }) }}
          </span>
          <p class="number organization" :title="$n(overview.organization, 'count')">
            {{ $n(overview.organization, 'count') }}
          </p>
        </el-section>
      </el-col>
      <el-col :md="8">
         <el-section :title="$t('home.user_count')">
          <span slot="more" class="added">
            {{ $t('home.added_today', { num: $n(addedToday.user, 'count') }) }}
          </span>
          <p class="number user" :title="$n(overview.user, 'count')">
            {{ $n(overview.user, 'count') }}
          </p>
        </el-section>
      </el-col>
      <el-col :md="8">
        <el-section :title="$t('home.wallet_count')">
          <span slot="more" class="added">
            {{ $t('home.added_today', { num: $n(addedToday.wallet, 'count') }) }}
          </span>
          <p class="number wallet" :title="$n(overview.wallet, 'count')">
            {{ $n(overview.wallet, 'count') }}
          </p>
        </el-section>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :xs="24">
        <el-section :title="$t('home.coin_count')">
          <div style="height: 400px;">
            <v-chart :options="coinCountOptions"/>
          </div>
        </el-section>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :xs="24">
        <el-section :title="$t('home.tx_count')">
          <div style="height: 400px;">
            <v-chart :options="txCountOptions"/>
          </div>
        </el-section>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import 'echarts/lib/chart/bar';
import 'echarts/lib/chart/line';
import 'echarts/lib/component/tooltip';
import 'echarts/lib/component/legend';
import date from '@/utils/date';
import * as wallet from '@/constants/wallet';
import * as overviewServ from '@/services/overview';

/* eslint-disable */
export default {
  data() {
    return {
      hours: date().hours(),
      overview: {
        organization: '123',
        user: '1000',
        wallet: '3000',
      },
      addedToday: {
        organization: '23',
        user: '12',
        wallet: '78',
      },
      coinCount: [],
      txCount: [],
    };
  },
  props: {
    username: String,
  },
  computed: {
    coinCountOptions() {
      return {
        color: ['#F7931A', '#627EEA', '#23292F'],
        tooltip: {
          axisPointer: {
            type: 'shadow',
          },
        },
        legend: {
          align: 'left',
          data: [
            this.$t(`coin.${wallet.BTC}`),
            this.$t(`coin.${wallet.XRP}`),
            this.$t(`coin.${wallet.ETH}`),
          ],
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true,
        },
        xAxis: [
          {
            type: 'category',
            data: this.coinCount.map((item) => item.date),
          },
        ],
        yAxis: [
          {
            type: 'value',
          },
        ],
        series: [
          {
            name: this.$t(`coin.${wallet.BTC}`),
            type: 'bar',
            stack: 'coin',
            data: this.coinCount.map((item) => item[wallet.BTC]),
          },
          {
            name: this.$t(`coin.${wallet.XRP}`),
            type: 'bar',
            stack: 'coin',
            data: this.coinCount.map((item) => item[wallet.XRP]),
          },
          {
            name: this.$t(`coin.${wallet.ETH}`),
            type: 'bar',
            stack: 'coin',
            data: this.coinCount.map((item) => item[wallet.ETH]),
          },
        ],
      };
    },
    txCountOptions() {
      return {
        color: ['#F7931A', '#627EEA', '#23292F'],
        tooltip: {
          trigger: 'axis',
        },
        legend: {
          align: 'left',
          data: [
            this.$t(`coin.${wallet.BTC}`),
            this.$t(`coin.${wallet.XRP}`),
            this.$t(`coin.${wallet.ETH}`),
          ],
        },
        grid: {
          left: '3%',
          right: '4%',
          bottom: '3%',
          containLabel: true,
        },
        toolbox: {
          feature: {
            saveAsImage: {},
          },
        },
        xAxis: {
          type: 'category',
          boundaryGap: false,
          data: this.txCount.map((item) => item.date),
        },
        yAxis: {
          type: 'value',
        },
        series: [
          {
            name: this.$t(`coin.${wallet.BTC}`),
            type: 'line',
            smooth: true,
            data: this.txCount.map((item) => item[wallet.BTC]),
          },
          {
            name: this.$t(`coin.${wallet.XRP}`),
            type: 'line',
            smooth: true,
            data: this.txCount.map((item) => item[wallet.XRP]),
          },
          {
            name: this.$t(`coin.${wallet.ETH}`),
            type: 'line',
            smooth: true,
            data: this.txCount.map((item) => item[wallet.ETH]),
          },
        ],
      };
    },
  },
  mounted() {
    Promise.all([
      overviewServ.coinCount().then((res) => {
        this.coinCount = res;
      }),
      overviewServ.txCount().then((res) => {
        this.txCount = res;
      }),
    ]);
  },
};
</script>

<style lang="scss" scoped>
@import "~@/theme/variables.scss";

.home {
  .welcome {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .overview {
    .added {
      float: right;
      font-size: 12px;
      font-weight: 400;
      color: #888;
    }

    .number {
      font-size: 30px;
      margin: 0;
      color: $--color-primary;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.user {
        color: $--color-warning;
      }

      &.wallet {
        color: $--color-danger;
      }
    }
  }
}
</style>
