<template>
  <div>
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.log') }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-section :title="$t('log.list') + ` (${count})`">
      <el-table :data="list" stripe>
        <el-table-column type="expand">
          <template slot-scope="scope">
            <el-row :gutter="15">
              <el-col :sm="12">
                <table class="info">
                  <tr>
                    <th>{{ $t('log.request') }}</th>
                  </tr>
                  <tr 
                    v-for="(value, key) in scope.row.request"
                    :key="key"
                  >
                    <td>{{ key }}:</td>
                    <td>{{ value }}</td>
                  </tr>
                </table>
              </el-col>
              <el-col :sm="12">
                <table class="info">
                  <tr>
                    <th>{{ $t('log.responese') }}</th>
                  </tr>
                  <tr 
                    v-for="(value, key) in scope.row.responese"
                    :key="key"
                  >
                    <td>{{ key }}:</td>
                    <td>{{ value }}</td>
                  </tr>
                </table>
              </el-col>
            </el-row>
          </template>
        </el-table-column>
        <el-table-column 
          :label="$t('log.operator')" 
          show-overflow-tooltip
          prop="operator"
        />
        <el-table-column 
          :label="$t('log.action')" 
          show-overflow-tooltip
          align="center"
        >
          <template slot-scope="scope">
            {{ $t(`log.event.${scope.row.action}`) }}
          </template>
        </el-table-column>
        <el-table-column 
          :label="$t('log.date')" 
          show-overflow-tooltip
          align="center"
        >
          <template slot-scope="scope">
            {{ scope.row.created | formatDate('YYYY-MM-DD HH:mm:ss') }}
          </template>
        </el-table-column>
      </el-table>
      <footer class="pagination">
        <el-pagination 
          hide-on-single-page
          small
          layout="prev, pager, next"
          :total="50"
        />
      </footer>
    </el-section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: (new Array(10)).fill({
        operator: 'master@sbibits.com',
        action: 'create_owner',
        created: new Date(),
        request: {
          email: 'test@google.com',
          organizationId: '123123123',
          memo: 'Test create',
        },
        responese: {
          message: 'success',
        },
      }),
      count: 30,
    };
  },
};
</script>
