<template>
  <div class="auth">
    <div class="container">
      <div class="image" />
      <div class="content">
        <router-view />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "~@/theme/variables.scss";

.auth {
  height: 100vh;
  background: rgb(62, 117, 155);
  background-size: cover;
  display: flex;
  justify-content: center;

  .container {
    width: 800px;
    height: 550px;
    background: #fff;
    align-self: center;
    display: flex;
    box-shadow: 4px 6px 20px 0 rgba(0,48,144,.08);

    .image {
      width: 300px;
      background: url('~@/assets/martin.jpg');
      background-size: cover;
    }

    .content {
      flex: 1;
      padding: 20px 30px 20px 50px;
    }
  }
}
</style>
