<template>
  <div v-if="!loaded">{{ $t('dash_layout.loading') }}</div>
  <el-container class="dash" v-else>
    <el-header height="70px" class="header">
      <div class="container">
        <router-link class="logo" :to="{ name: 'home' }" />
        <div class="placehoder" />
        <div class="lang">
          <el-dropdown @command="changeLocale">
            <span>{{ languages[lang] }}</span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item 
                v-for="(value, key) in languages" 
                :key="key" 
                :command="key"
              >
                {{ value }}
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          
        </div>
        <el-dropdown @command="handleCommand">
          <div class="avatar">{{ username.slice(0, 1) }}</div>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item command="layout">
              {{ $t('dash_layout.lagout') }}
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </el-header>
    <el-container>
      <el-aside class="aside" width="240px">
        <el-menu @select="selectMenu" :default-active="$route.name">
          <el-menu-item index="home">
            <i class="el-icon-odometer"></i>
            <span slot="title">
              {{ $t('navbar.dashboard') }}
            </span>
          </el-menu-item>
          <el-submenu index="tx">
            <template slot="title">
            <i class="el-icon-shopping-cart-1"></i>
              <span slot="title">
              {{ $t('navbar.tx') }}
              </span>
            </template>
            <el-menu-item index="tx-list">
              {{ $t('navbar.tx_list') }}
            </el-menu-item>
            <el-menu-item index="tx-merge">
              {{ $t('navbar.tx_merge') }}
            </el-menu-item>
          </el-submenu>
          <el-menu-item index="wallet-list">
            <i class="el-icon-wallet"></i>
            <span slot="title">
              {{ $t('navbar.wallet') }}
            </span>
          </el-menu-item>
          <el-submenu index="user">
            <template slot="title">
              <i class="el-icon-user"></i>
              <span slot="title">
                {{ $t('navbar.user') }}
              </span>
            </template>
            <el-menu-item index="user-list">
              {{ $t('navbar.user_list') }}
            </el-menu-item>
            <el-menu-item index="user-create">
              {{ $t('navbar.user_create') }}
            </el-menu-item>
          </el-submenu>
          <el-submenu index="organization">
            <template slot="title">
              <i class="el-icon-office-building"></i>
              <span slot="title">
                {{ $t('navbar.organization') }}
              </span>
            </template>
            <el-menu-item index="organization-list">
              {{ $t('navbar.organization_list') }}
            </el-menu-item>
            <el-menu-item index="organization-create">
              {{ $t('navbar.organization_create') }}
            </el-menu-item>
          </el-submenu>
          <el-menu-item index="log">
            <i class="el-icon-tickets"></i>
            <span slot="title">
              {{ $t('navbar.log') }}
            </span>
          </el-menu-item>
          <el-menu-item index="config">
            <i class="el-icon-set-up"></i>
            <span slot="title">
              {{ $t('navbar.config') }}
            </span>
          </el-menu-item>
        </el-menu>
      </el-aside>
      <el-main class="main">
        <router-view :username="username" />
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
import * as pubServ from '@/services/public';
import * as settingServ from '@/services/setting';
import { EN_US, ZH_CN } from '@/locales';
import { changeLocale } from '@/utils/i18n';

export default {
  data() {
    return {
      loaded: false,
      username: '',
      email: '',
      languages: {
        [EN_US]: 'English',
        [ZH_CN]: '中文简体',
      },
    };
  },
  computed: {
    lang() {
      return this.$i18n.locale;
    },
  },
  methods: {
    selectMenu(index) {
      this.$router.push({ name: index });
    },
    handleCommand(command) {
      if (typeof this[command] === 'function') {
        this[command]();
      }
    },
    changeLocale(lang) {
      changeLocale(lang);
    },
    layout() {
      pubServ.logout();
      this.$router.push({ name: 'login' });
    },
  },
  mounted() {
    settingServ.profile().then((res) => {
      const { email, username } = res;

      this.email = email;
      this.username = username;
    }).catch((err) => {
      this.$message({
        type: 'error',
        message: err.message,
        showClose: true,
      });
    }).finally(() => {
      this.loaded = true;
    });
  },
};
</script>

<style lang="scss" scoped>
@import "~@/theme/utils.scss";

.dash {
  height: 100vh;

  .header {
    background: #013C4C;

    .container {
      display: flex;
      align-items: center;
      height: 100%;

      .placehoder { 
        flex: 1;
      }
    }

    .lang {
      padding: 0 20px;

      span {
        color: #fff;
        cursor: pointer;
      }
    }

    .logo {
      display: inline-block;
      height: 26px;
      width: 196px;
      @include img-retina('~@/assets/logo-light.png', '~@/assets/logo-light@2x.png', 196px 26px);
    }

    .avatar {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background: #FAAD40;
      text-align: center;
      line-height: 40px;
      font-weight: 500;
      font-size: 18px;
      color: #000;
      cursor: pointer;
    }
  }

  .aside {
    background: #fff;
    box-shadow: 4px 6px 20px 0 rgba(0,48,144,.08);
    border-right: 1px solid #eee;
  }
}
</style>
