<template>
  <div class="tx-detail">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item :to="{ name: 'tx-list' }">
        {{ $t('navbar.tx') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item :to="{ name: 'tx-list', query: { coin: tx.coin } }">
        <coin :type="tx.coin" :size="14"></coin>
        <span class="coin">{{ $t(`coin.${tx.coin}`) }}</span>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ tx.transferId }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-section :title="$t('tx_detail.overview')">
      <table class="info">
        <tr>
          <td>{{ $t('tx_detail.coin') }}</td>
          <td>
            <coin :type="tx.coin" :size="16"></coin>
            <span class="coin">{{ $t(`coin.${tx.coin}`) }}</span>
          </td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.txid') }}</td>
          <td>
            <a :href="tx.txid | txid('BTC')" target="_blank">
              {{ tx.txid }}
            </a>
          </td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.transfer_id') }}</td>
          <td>{{ tx.transferId }}</td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.created_at') }}</td>
          <td>{{ tx.created | formatDate('YYYY-MM-DD HH:mm:ss') }}</td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.address') }}</td>
          <td>{{ tx.address }}</td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.type') }}</td>
          <td>
            <el-tag size="small" effect="dark" :type="tx.type === 1 ? 'primary' : 'info'">
              {{ $t(`tx_type.${tx.type}`) }}
            </el-tag>
          </td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.amount') }}</td>
          <td>
            {{ $n(tx.amount, `coin.${tx.coin}`) }}
            {{ $t(`coin.${tx.coin}`) }}
          </td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.network_fee') }}</td>
          <td>
            {{ $n(tx.fee, `coin.${tx.coin}`) }}
            {{ $t(`coin.${tx.coin}`) }}
          </td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.status') }}</td>
          <td>
            <el-tag size="small" :type="tagType(tx.status)">
              {{ $t(`tx_status.${tx.status}`) }}
            </el-tag>  
          </td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.memo') }}</td>
          <td>{{ tx.memo }}</td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.organization') }}</td>
          <td>
            <template v-if="!tx.organization">-</template>
            <router-link v-else :to="{ name: 'organization-detail', params: { name: tx.organization.organizationId } }">
              {{ tx.organization.name }}
            </router-link>
          </td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.wallet') }}</td>
          <td>
            <template v-if="!tx.wallet">-</template>
            <router-link v-else :to="{ name: 'wallet-detail', params: { walletId: tx.wallet.walletId } }">
              {{ tx.wallet.name }}
            </router-link>  
          </td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.creater') }}</td>
          <td>
            <template v-if="!tx.creater">-</template>
            <router-link v-else :to="{ name: 'user-detail', params: { userId: tx.creater.userId } }">
              {{ tx.creater.email }}
            </router-link>  
          </td>  
        </tr>
        <tr>
          <td>{{ $t('tx_detail.approver') }}</td>
          <td>
            <template v-if="!tx.approver">-</template>
            <router-link v-else :to="{ name: 'user-detail', params: { userId: tx.approver.userId } }">
              {{ tx.approver.email }}
            </router-link>  
          </td>  
        </tr>
      </table>
    </el-section>
    <el-section :title="$t('tx_detail.flow')">
      <el-timeline>
        <el-timeline-item
          v-for="(activity, index) in activities"
          :key="index"
          :timestamp="activity.created | formatDate('YYYY-MM-DD HH:mm:ss')"
        >
          <template v-if="!activity.implementer">{{ $t(`tx_status.${activity.status}`) }}</template>
          <i18n v-else path="tx_detail.flow_item">
            <span slot="status">{{ $t(`tx_status.${activity.status}`) }}</span>
            <router-link slot="implementer" :to="{ name: 'user-detail', params: { userId: activity.implementer.userId } }">
              {{ activity.implementer.email }}
            </router-link>
          </i18n>
        </el-timeline-item>
      </el-timeline>
    </el-section>
  </div>
</template>

<script>
import { txStatus as mixinStatus } from '@/mixins/status';

export default {
  data() {
    return {
      tx: {
        coin: 'BTC',
        txid: 'c3f564801aff1e25877fed8d3b5f77b17ac81d2cb6eb595b7770a74bc5dc3467',
        transferId: '5eba65406decf80013854c66',
        created: new Date(),
        address: 'tb1qvjhdjkmz9e9nmv6jlvltk4ckqvmwxhdv8m5z0x',
        type: 1,
        amount: '12.345',
        fee: '1.324',
        status: 'CREATED',
        memo: 'test',
        organization: {
          organizationId: '1',
          name: 'Google',
        },
        wallet: {
          walletId: '2',
          name: 'BTC-TEST',
        },
        creater: {
          userId: '1',
          email: 'xxx@sbibits.com',
        },
        approver: null,
      },
    };
  },
  mixins: [mixinStatus],
  computed: {
    activities() {
      return [
        {
          status: 'CONFIRMED',
          implementer: null,
          created: new Date(),
        }, 
        {
          status: 'SENT',
          implementer: null,
          created: new Date(),
        }, 
        {
          status: 'SIGNED',
          implementer: {
            userId: '1',
            email: 'xxx@sbibits.com',
          },
          created: new Date(),
        },
        {
          status: 'APPROVED',
          implementer: {
            userId: '1',
            email: 'xxx@sbibits.com',
          },
          created: new Date(),
        },
        {
          status: 'CREATED',
          implementer: {
            userId: '1',
            email: 'xxx@sbibits.com',
          },
          created: new Date(),
        },
      ];
    },
  },
};
</script>

<style lang="scss">
.tx-detail {
  .coin {
    vertical-align: middle;
    margin-left: 5px;
  }
}
</style>
