<template>
  <div class="tx-list">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.tx') }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <!-- 统计 - BTC/XRP/ETH发送数, 接收数, 发送总金额， 接受总金额 -->
    <el-section :title="$t('search.label')">
      <el-form @submit.native.prevent="submit">
        <el-row :gutter="15">
          <el-col :sm="6">
            <el-form-item>
              <el-input 
                v-model="form.search"
                :placeholder="$t('tx_list.txid') + ', ' + $t('tx_list.address')" 
              />
            </el-form-item>
          </el-col>
          <el-col :sm="6">
            <el-form-item>
              <el-input 
                v-model="form.transferId" 
                :placeholder="$t('tx_list.transfer_id')" 
              />
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <el-select 
                v-model="form.coin" 
                :placeholder="$t('tx_list.coin')"
                style="width: 100%"
                clearable
              >
                <el-option
                  v-for="coin in coins"
                  :key="coin"
                  :value="coin"
                  :label="$t(`coin.${coin}`)"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <el-select 
                v-model="form.type" 
                :placeholder="$t('tx_list.tx_type')"
                style="width: 100%"
                clearable
              >
                <el-option 
                  v-for="type in types"
                  :key="type"
                  :label="$t(`tx_type.${type}`)"
                  :value="type"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <el-select 
                v-model="form.status" 
                :placeholder="$t('tx_list.status')"
                style="width: 100%"
                clearable
              >
                <el-option 
                  v-for="status in statuses" 
                  :key="status"
                  :value="status"
                  :label="$t(`tx_status.${status}`)"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <remote-search 
                v-model="form.organization" 
                :placeholder="$t('tx_list.organization')"
                :method="searchOrganization"
              />
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <remote-search 
                v-model="form.wallet" 
                :placeholder="$t('tx_list.wallet')"
              />
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <remote-search 
                v-model="form.creater" 
                :placeholder="$t('tx_list.creater')"
              />
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <remote-search 
                v-model="form.approver" 
                :placeholder="$t('tx_list.approver')"
              />
            </el-form-item>
          </el-col>
          <el-col :sm="8">
            <el-form-item>
              <el-date-picker
                style="width: 100%"
                v-model="form.time"
                type="datetimerange"
                clearable
                :range-separator="$t('tx_list.to')"
                :start-placeholder="$t('tx_list.start_time')"
                :end-placeholder="$t('tx_list.end_time')"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-button 
          native-type="submit" 
          type="primary"
        >
          {{ $t('form.submit') }}
        </el-button>
        <el-button 
          native-type="reset"
        >
          {{ $t('form.reset') }}
        </el-button>
      </el-form>
    </el-section>
    <el-section :title="$t('tx_list.list') + ` (${count})`">
      <el-table :data="list" stripe>
        <el-table-column 
          show-overflow-tooltip
          :label="$t('tx_list.created_at')"
          width="160px"
        >
          <template slot-scope="scope">
            {{ scope.row.created | formatDate('YYYY-MM-DD HH:mm:SS') }}
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          show-overflow-tooltip
          :label="$t('tx_list.coin')"
          width="80px"
        >
          <template slot-scope="scope"> 
            <coin :type="scope.row.coin" :size="16" />
            <span class="coin">{{ $t(`coin.${scope.row.coin}`) }}</span>
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          show-overflow-tooltip
          :label="$t('tx_list.address')" 
          prop="address" 
        />
        <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_list.amount')" 
        >
          <template slot-scope="scope">
            {{ $n(scope.row.amount, `coin.long.${scope.row.coin}`) }}
            {{ $t(`coin.${scope.row.coin}`) }}
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_list.network_fee')" 
          prop="fee" 
        >
          <template slot-scope="scope">
            {{ $n(scope.row.fee, `coin.long.${scope.row.coin}`) }}
            {{ $t(`coin.${scope.row.coin}`) }}
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_list.tx_type')" 
          width="130px"
        >
          <template slot-scope="scope">
            <el-tag size="small" effect="dark" :type="scope.row.type === 1 ? 'primary' : 'info'">
              {{ $t(`tx_type.${scope.row.type}`) }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          width="90px"
          show-overflow-tooltip 
          :label="$t('tx_list.status')" 
        >
          <template slot-scope="scope">
            <el-tag 
              size="small"
              :type="tagType(scope.row.status)"
            >
              {{ $t(`tx_status.${scope.row.status}`) }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_list.creater')" 
        > 
          <template slot-scope="scope">
            <router-link :to="{ name: 'user-detail', params: { userId: scope.row.creater.userId } }">
              {{ scope.row.creater.email }}
            </router-link>
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_list.approver')"
        > 
          <template slot-scope="scope">
            <router-link :to="{ name: 'user-detail', params: { userId: scope.row.approver.userId } }">
              {{ scope.row.approver.email }}
            </router-link>
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_list.txid')" 
          width="80px"
        >
          <template slot-scope="scope">
            <el-tooltip :content="scope.row.txid" placement="top">
              <a target="_blank" :href="scope.row.txid | txid(scope.row.coin)">
                <i class="el-icon-link" /> 
              </a>
            </el-tooltip>
          </template>
        </el-table-column>
        <el-table-column width="100px">
          <template slot-scope="scope">
            <router-link :to="{ name: 'tx-detail', params: { transferId: scope.row.transferId } }">
              {{ $t('tx_list.view') }}
            </router-link>
          </template>
        </el-table-column>
      </el-table>
      <footer class="pagination">
        <el-pagination 
          hide-on-single-page
          small
          layout="prev, pager, next"
          :total="50"
        />
      </footer>
    </el-section>
  </div>
</template>

<script>
import * as tx from '@/constants/transaction';
import * as wallet from '@/constants/wallet';
import { txStatus as mixinStatus } from '@/mixins/status';
import mixinSearch from '@/mixins/search';

export default {
  data() {
    return {
      form: {
        search: '',
        transferId: '',
        coin: '',
        type: '',
        status: '',
        organization: '',
        wallet: '',
        creater: '',
        approver: '',
        time: [],
      },
      list: (new Array(10)).fill({
        created: new Date(),
        coin: 'XRP',
        address: 'adfasdfhewkfhajkbvkjabvryabv',
        type: 1,
        status: 'CREATED',
        amount: '123123.12303',
        fee: '1.23',
        creater: {
          email: 'xxxx@sbibits.com',
          userId: 1,
        },
        approver: {
          email: 'yyyy@sbibits.com',
          userId: 2,
        },
        txid: 'ba257e35fe8c9675f0eec09d57445a38ee84a6e28a1029556a01b8dab44d65b0',
        transferId: '1',
      }),
      page: 1,
      limit: 10,
      count: 130,
      types: [
        tx.SEND_TO,
        tx.RECEIVE_AT,
      ],
      coins: [
        wallet.BTC,
        wallet.ETH,
        wallet.XRP,
      ],
      statuses: [
        tx.STATUS_CREATED,
        tx.STATUS_APPROVED,
        tx.STATUS_REJECTED,
        tx.STATUS_SIGNED,
        tx.STATUS_SENT,
        tx.STATUS_RECEIVED,
        tx.STATUS_CANCELLED,
        tx.STATUS_CONFIRMED,
      ],
    };
  },
  mixins: [
    mixinSearch,
    mixinStatus,
  ],
  methods: {
    submit() {},
  },
};
</script>

<style lang="scss" scoped>
.tx-list {
  .coin {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}
</style>
