<template>
  <div class="tx-merge">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.tx_merge') }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-section :title="$t('search.label')">
      <el-form @submit.native.prevent="submit">
        <el-row :gutter="15">
          <el-col :sm="6">
            <el-form-item>
              <el-input 
                v-model="form.search"
                :placeholder="$t('tx_merge.txid') + ', ' + $t('tx_merge.address')" 
              />
            </el-form-item>
          </el-col>
          <el-col :sm="6">
            <el-form-item>
              <el-input 
                v-model="form.transferId" 
                :placeholder="$t('tx_merge.merge_id')" 
              />
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <el-select 
                v-model="form.coin" 
                :placeholder="$t('tx_merge.coin')"
                style="width: 100%"
                clearable
              >
                <el-option
                  v-for="coin in coins"
                  :key="coin"
                  :value="coin"
                  :label="$t(`coin.${coin}`)"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <el-select 
                v-model="form.status" 
                :placeholder="$t('tx_merge.status')"
                style="width: 100%"
                clearable
              >
                <el-option 
                  v-for="status in statuses" 
                  :key="status"
                  :value="status"
                  :label="$t(`tx_status.${status}`)"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <remote-search 
                v-model="form.organization" 
                :placeholder="$t('tx_merge.organization')"
                :method="searchOrganization"
              />
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <remote-search 
                v-model="form.wallet" 
                :placeholder="$t('tx_merge.wallet')"
              />
            </el-form-item>
          </el-col>
          <el-col :sm="8">
            <el-form-item>
              <el-date-picker
                style="width: 100%"
                v-model="form.time"
                type="datetimerange"
                clearable
                :range-separator="$t('tx_merge.to')"
                :start-placeholder="$t('tx_merge.start_time')"
                :end-placeholder="$t('tx_merge.end_time')"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-button 
          native-type="submit" 
          type="primary"
        >
          {{ $t('form.submit') }}
        </el-button>
        <el-button 
          native-type="reset"
        >
          {{ $t('form.reset') }}
        </el-button>
      </el-form>
    </el-section>
    <el-section :title="$t('tx_merge.list') + ` (${count})`">
      <el-table :data="list" stripe>
        <el-table-column 
          :label="$t('tx_merge.created_at')"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            {{ scope.row.created | formatDate('YYYY-MM-DD HH:mm:ss') }}
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          show-overflow-tooltip
          :label="$t('tx_merge.wallet')"
          width="80px"
        >
          <template slot-scope="scope"> 
            <router-link :to="{ name: 'wallet-detail', params: { walletId: scope.row.wallet.walletId } }">
              <coin :type="scope.row.coin" :size="16" />
              <span class="name">{{ scope.row.wallet.name }}</span>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_merge.from')" 
          prop="from"
        />
        <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_merge.to')" 
          prop="to"
        />
        <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_merge.amount')" 
        >
          <template slot-scope="scope">
            {{ $n(scope.row.amount, `coin.${scope.row.coin}`) }}
            {{ $t(`coin.${scope.row.coin}`) }}
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          width="90px"
          show-overflow-tooltip 
          :label="$t('tx_list.status')" 
        >
          <template slot-scope="scope">
            <el-tag 
              size="small"
              :type="tagType(scope.row.status)"
            >
              {{ $t(`tx_status.${scope.row.status}`) }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_merge.network_fee')" 
          prop="fee" 
        >
          <template slot-scope="scope">
            {{ $n(scope.row.fee, `coin.${scope.row.coin}`) }}
            {{ $t(`coin.${scope.row.coin}`) }}
          </template>
        </el-table-column>
        <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_merge.fee_rate')" 
          prop="feeRate"
        />
         <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_merge.merge_id')" 
          prop="mergeId"
        />
        <el-table-column 
          align="center"
          show-overflow-tooltip 
          :label="$t('tx_list.txid')" 
          width="80px"
        >
          <template slot-scope="scope">
            <el-tooltip :content="scope.row.txid" placement="top">
              <a target="_blank" :href="scope.row.txid | txid(scope.row.coin)">
                <i class="el-icon-link" /> 
              </a>
            </el-tooltip>
          </template>
        </el-table-column>
      </el-table>
      <footer class="pagination">
        <el-pagination 
          hide-on-single-page
          small
          layout="prev, pager, next"
          :total="50"
        />
      </footer>
    </el-section>
  </div>
</template>

<script>
import * as tx from '@/constants/transaction';
import * as wallet from '@/constants/wallet';
import { txStatus as mixinStatus } from '@/mixins/status';

export default {
  data() {
    return {
      form: {
        search: '',
        mergeId: '',
        coin: '',
        status: '',
        wallet: '',
        organization: '',
        time: [],
      },
      coins: [
        wallet.BTC,
        wallet.ETH,
        wallet.XRP,
      ],
      statuses: [
        tx.STATUS_CREATED,
        tx.STATUS_APPROVED,
        tx.STATUS_REJECTED,
        tx.STATUS_SIGNED,
        tx.STATUS_SENT,
        tx.STATUS_RECEIVED,
        tx.STATUS_CANCELLED,
        tx.STATUS_CONFIRMED,
      ],
      list: (new Array(10)).fill({
        created: new Date(),
        coin: 'XRP',
        from: 'adfasdfhewkfhajkbvkjabvryabv',
        to: 'adfasdfhewkfhajkbvkjabvryabv',
        status: 'CREATED',
        amount: '123123.12303',
        fee: '1.23',
        feeRate: '3',
        wallet: {
          name: 'Test',
          walletId: '10',
        },
        mergeId: 'adfasdfhewkfhajkbvkjabvryabv',
        txid: 'ba257e35fe8c9675f0eec09d57445a38ee84a6e28a1029556a01b8dab44d65b0',
      }),
      count: 30,
    };
  },
  mixins: [
    mixinStatus,
  ],
};
</script>

<style lang="scss" scoped>
.tx-merge {
  .name {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}
</style>
