<template>
  <div class="login">
    <div class="header">
      <i class="logo" />
    </div>
    <h3 class="title">{{ $t('login.title') }}</h3>
    <p class="description">
      {{ $t('login.description') }}
    </p>
    <el-form 
      class="form"
      :model="form"
      :rules="rules"
      ref="form"
      @submit.native.prevent="submit"
    >
      <el-form-item prop="email">
        <el-input
          v-model="form.email"
          :placeholder="$t('login.email')" 
        />
      </el-form-item>
      <el-form-item prop="password">
        <el-input 
          v-model="form.password"
          :placeholder="$t('login.password')" 
          type="password" 
        />
      </el-form-item>
      <el-form-item>
        <el-button 
          :loading="loading"
          class="submit" 
          type="primary" 
          native-type="submit"
        >
          {{ $t('login.submit') }}
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import * as pubServ from '@/services/public';

export default {
  data() {
    return {
      form: {
        email: 'bill.gates@sbibits.com',
        password: 'liujinyang',
      },
      loading: false,
    };
  },
  computed: {
    rules() {
      return {
        email: [
          { 
            required: true, 
            message: this.$t('form_rules.required', { key: this.$t('login.email') }),
          },
          { 
            type: 'email', 
            message: this.$t('form_rules.email_format', { value: this.form.email }),
          },
        ],
        password: [
          { 
            required: true, 
            message: this.$t('form_rules.required', { key: this.$t('login.password') }),
          },
        ],
      };
    },
  },
  methods: {
    submit() {
      this.$refs.form.validate((valid) => {
        if (valid) {
          const { email, password } = this.form;

          this.loading = true;
          pubServ.login(email, password).then(() => {
            this.$router.push({ name: 'home' });
          }).catch((err) => {
            this.$message({
              type: 'error',
              message: err.message,
              showClose: true,
            });
          }).finally(() => {
            this.loading = false;
          });
        }
      });
    },
  },
};
</script>


<style lang="scss" scoped>
@import "~@/theme/utils.scss";

.login {
  .header {
    overflow: hidden;
  }

  .logo {
    display: block;
    float: right;
    height: 18px;
    width: 140px;
    @include img-retina('~@/assets/logo.png', '~@/assets/logo@2x.png', 140px 18px);
  }

  .title {
    clear: both;
    margin-top: 70px;
    margin-bottom: 10px;
    font-size: 30px;
  }

  .description {
    font-size: 13px;
    margin-bottom: 70px;
    color: #828282;
  }

  .form {
    width: 350px;

   .submit {
     min-width: 180px;
     margin-top: 15px;
   } 
  }
}
</style>
