<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  font-family: 'DM Sans', sans-serif;
}

html {
  min-height: 100%;
}

body, #app {
  min-height: 100%;
  background-color: #fafcff;
  font-size: 14px;
}

html, body, #app {
  padding: 0;
  margin: 0;
}

.el-table, .info, .el-timeline {
  a {
    text-decoration: none;
    color: #065BEA;
  }
}

.echarts {
  width: 100%!important;
  height: 100%!important;
}

.info {
  tr {
    th {
      padding: 5px;
      text-align: left;
      font-weight: 500;
    }

    td {
      padding: 5px;
      border-bottom: none!important;
      vertical-align: middle;

      &:first-child {
        color: #606266;
      }
    }

    &:hover td {
      background: none!important;
    }
  }
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.no-margin-bottom {
  margin-bottom: 10px!important;
}
</style>
