@mixin img-retina($file-1x, $file-2x, $size) {
  background-image: url($file-1x);
  background-size: $size;
  background-position: center;
  background-repeat: no-repeat;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and ( min--moz-device-pixel-ratio: 2),
  only screen and ( -o-min-device-pixel-ratio: 2/1),
  only screen and ( min-device-pixel-ratio: 2),
  only screen and ( min-resolution: 192dpi),
  only screen and ( min-resolution: 2dppx) {
    background-image: url($file-2x);
  }
}
