$--color-primary: rgb(62, 117, 155);
$--border-radius-base: 0px;
$--border-radius-small: 0px;
$--border-width-base: 2px;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

.el-button.is-loading:before {
  top: -$--border-width-base;
  left: -$--border-width-base;
  right: -$--border-width-base;
  bottom: -$--border-width-base;
}

.el-button {
  padding: 11px 20px;
}

.el-menu {
  border: none;
}

.el-message-box {
  border-radius: $--border-radius-base;
}

.el-breadcrumb {
  margin-bottom: 15px;
}

.el-timeline {
  margin-top: 20px;
  padding-left: 10px;

  &-item:last-child {
    padding-bottom: 0;
  }
}
