<template>
  <div class="wallet-detail">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item :to="{ name: 'wallet-list' }">
        {{ $t('navbar.wallet') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item :to="{ name: 'wallet-list', query: { coin: wallet.coin } }">
        <coin :type="wallet.coin" :size="14"></coin>
        <span class="coin">{{ $t(`coin.${wallet.coin}`) }}</span>
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ wallet.name }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-row :gutter="20" class="overview">
      <el-col :md="6">
        <el-section :title="$t('wallet_detail.sent_count')">
          <p class="number" :title="$n(overview.sentCount, 'count')">
            {{ $n(overview.sentCount, 'count') }}
          </p>
        </el-section>
      </el-col>
      <el-col :md="6">
        <el-section :title="$t('wallet_detail.sent_amount')">
          <span slot="more" class="unit">{{ $t(`coin.${wallet.coin}`) }}</span>
          <p class="number" :title="$n(overview.sentAmount, `coin.${wallet.coin}`)">
            {{ $n(overview.sentAmount, `coin.long.${wallet.coin}`) }}
          </p>
        </el-section>
      </el-col>
      <el-col :md="6">
        <el-section :title="$t('wallet_detail.received_count')">
          <p class="number received" :title="$n(overview.receivedCount, 'count')">
            {{ $n(overview.receivedCount, 'count') }}
          </p>
        </el-section>
      </el-col>
      <el-col :md="6">
        <el-section :title="$t('wallet_detail.received_amount')">
          <span slot="more" class="unit">{{ $t(`coin.${wallet.coin}`) }}</span>
          <p class="number received" :title="$n(overview.receivedAmount, `coin.${wallet.coin}`)">
            {{ $n(overview.receivedAmount, `coin.long.${wallet.coin}`) }}
          </p>
        </el-section>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :sm="12">
        <el-section :title="$t('wallet_detail.title')">
          <table class="info detail">
            <tr>
              <td>{{ $t('wallet_detail.name') }}</td>
              <td>{{ wallet.name }}</td>
            </tr>
            <tr>
              <td>{{ $t('wallet_detail.id') }}</td>
              <td>{{ wallet.walletId }}</td>
            </tr>
            <tr>
              <td>{{ $t('wallet_detail.coin') }}</td>
              <td>
                <coin :type="wallet.coin" :size="14"></coin>
                <span class="coin">{{ $t(`coin.${wallet.coin}`) }}</span>
              </td>
            </tr>
            <tr>
              <td>{{ $t('wallet_detail.organization') }}</td>
              <td>
                <template v-if="!wallet.organization">-</template>
                <router-link :to="{ name: 'organization-detail', params: { organizationId: wallet.organization.organizationId } }">
                  {{ wallet.organization.name }}
                </router-link>
              </td>
            </tr>
            <tr>
              <td>{{ $t('wallet_detail.creater') }}</td>
              <td>
                <template v-if="!wallet.creater">-</template>
                <router-link :to="{ name: 'user-detail', params: { userId: wallet.creater.userId } }">
                  {{ wallet.creater.email }}
                </router-link>
              </td>
            </tr>
            <tr>
              <td>{{ $t('wallet_detail.created_at') }}</td>
              <td>{{ wallet.created | formatDate('YYYY-MM-DD HH:mm:ss') }}</td>
            </tr>
            <tr>
              <td>{{ $t('wallet_detail.balance') }}</td>
              <td>
                {{ $n(wallet.balance, `coin.${wallet.coin}`) }}
                {{ $t(`coin.${wallet.coin}`) }}
              </td>
            </tr>
            <tr>
              <td>{{ $t('wallet_detail.available_balance') }}</td>
              <td>
                {{ $n(wallet.available, `coin.${wallet.coin}`) }}
                {{ $t(`coin.${wallet.coin}`) }}
              </td>
            </tr>
          </table>
          <el-button 
            type="primary" 
            size="mini"
            @click="$router.push({ name: 'tx-list', query: { walletId: wallet.walletId } })"
          >
            {{ $t('wallet_detail.tx_all') }}
          </el-button>
        </el-section>
      </el-col>
      <el-col :sm="12">
        <el-section class="security-policy" :title="$t('wallet_detail.security_policy')">
          <table class="info limits">
            <tr>
              <th>{{ $t('wallet_detail.spending_limits') }}</th>
            </tr>
            <tr>
              <td>{{ $t('wallet_detail.per_hour') }}</td>
              <td>
                {{ $n(limits.perHour, 'coin.limit') }}
                {{ $t(`coin.${wallet.coin}`) }}
              </td>
            </tr>
            <tr>
              <td>{{ $t('wallet_detail.per_day') }}</td>
              <td>
                {{ $n(limits.perDay, 'coin.limit') }}
                {{ $t(`coin.${wallet.coin}`) }}
              </td>
            </tr>
          </table>
          <table class="info operation-time">
            <tr>
              <th>{{ $t('wallet_detail.operation_time') }}</th>
            </tr>
            <tr>
              <td>{{ $t('wallet_detail.timzone') }}</td>
              <td>
                {{ $t(`timezone.${operatingTime.timezone}`) }}
              </td>
            </tr>
            <tr>
              <td>{{ $t('wallet_detail.operating_days') }}</td>
              <td>
                {{ operatingTime.days.map(item => $t(`weekly.${item}`)).join(', ') }}
              </td>
            </tr>
            <tr>
              <td>{{ $t('wallet_detail.operating_hours') }}</td>
              <td>{{ operatingTime.from }} - {{ operatingTime.to }}</td>
            </tr>
          </table>
        </el-section>
      </el-col>
    </el-row>
    <el-section :title="$t('wallet_detail.user_authority') + ` (${roles.count})`">
      <el-input 
        class="search" 
        slot="more"
        size="mini" 
        v-model="search.user"
        :placeholder="$t('wallet_detail.email')" 
      />
      
      <el-table :data="roles.list" stripe>
        <el-table-column 
          :label="$t('wallet_detail.email')" 
          show-overflow-tooltip
          prop="email" 
        />
        <el-table-column 
          align="center" 
          show-overflow-tooltip
          :label="$t('wallet_detail.status')"
        >
          <template slot-scope="scope">
            <el-tag size="small" :type="tagType(scope.row.status)">
              {{ $t(`wallet_role_status.${scope.row.status}`) }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column 
          align="center" 
          show-overflow-tooltip
          :label="$t('wallet_detail.authority')"
        >
          <template slot-scope="scope">
            {{ $t(`wallet_role.${scope.row.role}`) }}
            <template v-if="scope.row.updateTo && scope.row.updateTo.role">
              <a>> {{ $t(`wallet_role.${scope.row.updateTo.role}`) }}</a>
            </template>
          </template>
        </el-table-column>
        <el-table-column 
          align="center" 
          show-overflow-tooltip
          :label="$t('wallet_detail.limit')"
        >
          <template slot-scope="scope">
            <template v-if="scope.row.updateTo && scope.row.updateTo.limit">
              <template v-if="scope.row.role === APPROVER">
                {{ $n(scope.row.limit || '0', 'coin.limit') }}
                {{ $t(`coin.${wallet.coin}`) }}
                <a>></a>
              </template>
              <a>
                {{ $n(scope.row.updateTo.limit || '0', 'coin.limit') }}
                {{ $t(`coin.${wallet.coin}`) }}
              </a>
            </template>
            <template v-else-if="scope.row.limit">
              {{ $n(scope.row.limit, 'coin.limit') }}
              {{ $t(`coin.${wallet.coin}`) }}
            </template>
            <template v-else>-</template>
          </template>
        </el-table-column>
        <el-table-column align="center">
          <template slot-scope="scope">
            <router-link :to="{ name: 'user-detail', params: { userId: scope.row.userId } }">
              {{ $t('wallet_detail.view') }}
            </router-link>
          </template>
        </el-table-column>
      </el-table>
      <footer class="pagination">
        <el-pagination 
          hide-on-single-page
          small
          layout="prev, pager, next"
          :total="50"
        />
      </footer>
    </el-section>
    <el-row :gutter="20">
      <el-col v-if="addresses.list.length" :sm="12">
        <el-section :title="$t('wallet_detail.receive_address') + ` (${addresses.count})`">
          <el-input 
            class="search" 
            slot="more"
            size="mini" 
            v-model="search.receive"
            :placeholder="$t('wallet_detail.address')" 
          />
          <el-table :data="addresses.list" stripe>
            <el-table-column 
              :label="$t('wallet_detail.label')" 
              prop="label" 
              show-overflow-tooltip
            />
            <el-table-column 
              :label="$t('wallet_detail.address')" 
              prop="address" 
              show-overflow-tooltip
            />
            <el-table-column 
              align="center" 
              width="100px"
            >
              <template slot-scope="scope">
                <copy :value="scope.row.address" />
              </template>
            </el-table-column>
          </el-table>
          <footer class="pagination">
            <el-pagination 
              hide-on-single-page
              small
              layout="prev, pager, next"
              :total="50"
            />
          </footer>
        </el-section>
      </el-col>
      <el-col v-if="whitelist.list.length" :sm="12">
        <el-section :title="$t('wallet_detail.whitelist') + ` (${whitelist.count})`">
          <el-input 
            class="search" 
            slot="more"
            size="mini" 
            v-model="search.whitelist"
            :placeholder="$t('wallet_detail.address')" 
          />
          <el-table :data="whitelist.list" stripe>
            <el-table-column 
              :label="$t('wallet_detail.label')" 
              prop="label" 
              show-overflow-tooltip
            />
            <el-table-column 
              :label="$t('wallet_detail.address')" 
              prop="address" 
              show-overflow-tooltip
            />
            <el-table-column 
              align="center" 
              width="100px"
            >
              <template slot-scope="scope">
                <copy :value="scope.row.address" />
              </template>
            </el-table-column>
          </el-table>
          <footer class="pagination">
            <el-pagination 
              hide-on-single-page
              small
              layout="prev, pager, next"
              :total="50"
            />
          </footer>
        </el-section>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { APPROVER } from '@/constants/role';
import { roleStatus as mixinStatus } from '@/mixins/status';

export default {
  data() {
    return {
      wallet: {
        walletId: '5eba568f4aab0700132f92c1',
        name: 'Test BTC',
        coin: 'BTC',
        organization: {
          organizationId: '1',
          name: 'SBI VC',
        },
        creater: {
          userId: '1',
          email: 'xxxx@sbibits.com',
        },
        created: new Date(),
        balance: '10.933002',
        available: '9.0324',
      },
      search: {
        user: '',
        receive: '',
        whitelist: '',
      },
      overview: {
        receivedCount: 1032,
        sentCount: 2432,
        receivedAmount: '10.12349123',
        sentAmount: '8.219392',
      },
      limits: {
        perHour: '1.23',
        perDay: '3.33',
      },
      operatingTime: {
        timezone: 9 * 60,
        days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
        from: '00:00',
        to: '23:59',
      },
      whitelist: {
        list: [
          { label: 'Whitelist 1', address: 'tb1qvjhdjkmz9e9nmv6jlvltk4ckqvmwxhdv8m5z0x' },
          { label: 'Whitelist 1', address: 'tb1qvjhdjkmz9e9nmv6jlvltk4ckqvmwxhdv8m5z0x' },
          { label: 'Whitelist 1', address: 'tb1qvjhdjkmz9e9nmv6jlvltk4ckqvmwxhdv8m5z0x' },
          { label: 'Whitelist 1', address: 'tb1qvjhdjkmz9e9nmv6jlvltk4ckqvmwxhdv8m5z0x' },
          { label: 'Whitelist 1', address: 'tb1qvjhdjkmz9e9nmv6jlvltk4ckqvmwxhdv8m5z0x' },
        ],
        count: 20,
      },
      addresses: {
        list: [
          { label: 'Test 1', address: 'tb1qvjhdjkmz9e9nmv6jlvltk4ckqvmwxhdv8m5z0x' },
          { label: 'Test 1', address: 'tb1qvjhdjkmz9e9nmv6jlvltk4ckqvmwxhdv8m5z0x' },
          { label: 'Test 1', address: 'tb1qvjhdjkmz9e9nmv6jlvltk4ckqvmwxhdv8m5z0x' },
          { label: 'Test 1', address: 'tb1qvjhdjkmz9e9nmv6jlvltk4ckqvmwxhdv8m5z0x' },
          { label: 'Test 1', address: 'tb1qvjhdjkmz9e9nmv6jlvltk4ckqvmwxhdv8m5z0x' },
        ],
        count: 13,
      },
      roles: {
        list: [
          {
            userId: '1',
            email: 'admin@sbisbits.com',
            role: 'admin',
            status: 'ENABLED',
          },
          {
            userId: '1',
            email: 'approver@sbisbits.com',
            role: 'approver',
            limit: '10.3',
            status: 'ENABLED',
          },
          {
            userId: '2',
            email: 'operator@sbisbits.com',
            role: 'operator',
            status: 'ENABLED',
          },
          {
            userId: '1',
            email: 'approver@sbisbits.com',
            role: 'operator',
            status: 'UPDATING',
            updateTo: {
              role: 'approver',
              limit: '3.333',
            },
          },
          {
            userId: '1',
            email: 'approver@sbisbits.com',
            role: 'approver',
            limit: '10.3',
            status: 'UPDATING',
            updateTo: {
              limit: '3.333',
            },
          },
          {
            userId: '2',
            email: 'operator@sbisbits.com',
            role: 'operator',
            status: 'REMOVING',
          },
          {
            userId: '1',
            email: 'viewer@sbisbits.com',
            role: 'viewer',
            status: 'PENDING',
          },
        ],
        count: 20,
      },
      APPROVER,
    };
  },
  mixins: [mixinStatus],
};
</script>

<style lang="scss" scoped>
@import "~@/theme/variables.scss";

.wallet-detail {
  .coin {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }

  .unit {
    float: right;
    font-size: 12px;
    font-weight: 400;
    color: #888;
  }

  .info {
    &.detail {
      margin-bottom: 10px;
    }

    &.operation-time {
      margin-top: 15px;
    }
  }

  .number {
    font-size: 30px;
    margin: 0;
    color: $--color-primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    &.received {
      color: $--color-warning;
    }
  }

  .search {
    float: right;
    width: 200px;
  }

  .security-policy {
    height: 356px;
  }
}
</style>
