<template>
  <div class="wallet-list">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.wallet') }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-section :title="$t('search.label')">
      <el-form>
        <el-row :gutter="15">
          <el-col :sm="6">
            <el-form-item>
              <el-input :placeholder="$t('wallet_list.name_and_id')" />
            </el-form-item>
          </el-col>
          <el-col :sm="5">
            <el-form-item>
              <el-select 
                v-model="form.coin" 
                :placeholder="$t('wallet_list.coin')"
                style="width: 100%"
                clearable
              >
                <el-option
                  v-for="coin in coins"
                  :key="coin"
                  :value="coin"
                  :label="$t(`coin.${coin}`)"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="5">
            <el-form-item>
              <el-select 
                v-model="form.status" 
                :placeholder="$t('wallet_list.status')"
                style="width: 100%"
                clearable
              >
                <el-option
                  v-for="status in statuses"
                  :key="status"
                  :value="status"
                  :label="$t(`wallet_status.${status}`)"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="8">
            <el-form-item>
              <el-date-picker
                style="width: 100%"
                v-model="form.time"
                type="datetimerange"
                clearable
                :range-separator="$t('wallet_list.to')"
                :start-placeholder="$t('wallet_list.start_time')"
                :end-placeholder="$t('wallet_list.end_time')"
              />
            </el-form-item>
          </el-col>
          <el-col :sm="6">
            <el-form-item>
              <remote-search 
                v-model="form.organization" 
                :placeholder="$t('wallet_list.organization')"
                :method="searchOrganization"
              />
            </el-form-item>
          </el-col>
          <el-col :sm="6">
            <el-form-item>
              <remote-search 
                v-model="form.creater" 
                :placeholder="$t('wallet_list.creater')"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-button 
          native-type="submit" 
          type="primary"
        >
          {{ $t('form.submit') }}
        </el-button>
        <el-button 
          native-type="reset"
        >
          {{ $t('form.reset') }}
        </el-button>
      </el-form>
    </el-section>
    <el-section :title="$t('wallet_list.list') + ` (${count})`">
      <el-table :data="list" stripe>
        <el-table-column 
          :label="$t('wallet_list.name')" 
          prop="name" 
          show-overflow-tooltip
        />
        <el-table-column 
          align="center" 
          :label="$t('wallet_list.coin')"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            <coin :type="scope.row.coin" :size="16" />
            <span class="coin">{{ $t(`coin.${scope.row.coin}`) }}</span>
          </template>
        </el-table-column>
        <el-table-column 
          align="center" 
          :label="$t('wallet_list.id')" 
          prop="walletId" 
          show-overflow-tooltip
        />
        <el-table-column 
          align="center" 
          :label="$t('wallet_list.status')" 
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            <el-tag size="small" :type="scope.row.status === STATUS_LOCKED ? 'danger' : 'success'">
              {{ $t(`wallet_status.${scope.row.status}`) }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column 
          align="center" 
          :label="$t('wallet_list.created_at')"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            {{ scope.row.created | formatDate('YYYY-MM-DD HH:mm:ss') }}
          </template>
        </el-table-column>
        <el-table-column 
          align="center" 
          :label="$t('wallet_list.balance')"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            {{ $n(scope.row.balance, `coin.long.${scope.row.coin}`) }}
            {{ $t(`coin.${scope.row.coin}`) }}
          </template>
        </el-table-column>
        <el-table-column 
          align="center" 
          :label="$t('wallet_list.available_balance')"
          show-overflow-tooltip
        >
          <template slot-scope="scope">
            {{ $n(scope.row.available, `coin.long.${scope.row.coin}`) }}
            {{ $t(`coin.${scope.row.coin}`) }}
          </template>
        </el-table-column>
        <el-table-column align="center" width="100">
          <template slot-scope="scope">
            <el-dropdown 
              trigger="click" 
              @command="(config) => $router.push(config)"
            >
              <a class="options">
                {{ $t('wallet_list.options') }}
              </a>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item :command="{ name: 'wallet-detail', params: { walletId: scope.row.walletId } }">
                  {{ $t('wallet_list.view') }}
                </el-dropdown-item>
                <el-dropdown-item 
                  divided
                  :command="{ name: 'tx-list', query: { walletId: scope.row.walletId } }"
                >
                  {{ $t('wallet_list.tx_all') }}
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>
      <footer class="pagination">
        <el-pagination 
          hide-on-single-page
          small
          layout="prev, pager, next"
          :total="50"
        />
      </footer>
    </el-section>
  </div>
</template>

<script>
import * as wallet from '@/constants/wallet';
import mixinSearch from '@/mixins/search';

export default {
  data() {
    return {
      form: {
        name: '',
        walletId: '',
        organization: '',
        creater: '',
        coin: '',
        time: [],
        status: '',
      },
      coins: [
        wallet.BTC,
        wallet.ETH,
        wallet.XRP,
      ],
      statuses: [
        wallet.STATUS_NORMAL,
        wallet.STATUS_LOCKED,
      ],
      list: [
        {
          name: 'Wallet SBI',
          walletId: '5eba568f4aab0700132f92c1',
          coin: 'BTC',
          balance: '12.940123',
          available: '11.3252',
          status: 'locked',
          created: new Date(),
        },
        {
          name: 'Wallet XRP',
          walletId: '5eba568f4aab0700132f92c1',
          coin: 'XRP',
          balance: '12.940123',
          available: '11.3252',
          status: 'normal',
          created: new Date(),
        },
      ],
      count: 20,
      STATUS_LOCKED: wallet.STATUS_LOCKED,
    };
  },
  mixins: [mixinSearch],
};
</script>

<style lang="scss" scoped>
.wallet-list {
  .options {
    cursor: pointer;
  }

  .coin {
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
  }
}
</style>
