<template>
  <div class="user-create">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.user') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.user_create') }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-section :title="$t('user_create.title')">
      <el-form 
        class="form" 
        :model="form"
        :rules="rules"
        ref="form"
        label-position="top"
        @submit.native.prevent="submit"
      >
        <el-form-item prop="email" :label="$t('user_create.email')">
          <el-input v-model="form.email" />
        </el-form-item>
        <el-form-item prop="organizationId" :label="$t('user_create.organization')">
          <el-select
            style="width: 100%"
            v-model="form.organizationId"
            :disabled="$route.query.organizationId"
          >
            <el-option 
              v-for="organization in organizations"
              :key="organization.organizationId"
              :value="organization.organizationId"
              :label="organization.name"
            />
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('user_create.group')">
          <el-select
            style="width: 100%"
            v-model="form.group"
            disabled
          >
            <el-option 
              v-for="group in groups"
              :key="group"
              :value="group"
              :label="$t(`user_group.${group}`)"
            />
          </el-select>
        </el-form-item>
        <el-form-item :label="$t('user_create.memo')">
          <el-input 
            type="textarea" 
            v-model="form.memo"
          />
        </el-form-item>
        <el-form-item>
          <el-button 
            native-type="submit" 
            type="primary"
          >
            {{ $t('form.submit') }}
          </el-button>
          <el-button @click="reset">
            {{ $t('form.reset') }}
          </el-button>
        </el-form-item>
      </el-form>
    </el-section>
  </div>
</template>

<script>
import * as organization from '@/constants/organization';
import * as organizationServ from '@/services/organization';

export default {
  data() {
    const { organizationId } = this.$route.query;

    return {
      form: {
        email: '',
        organizationId: organizationId || '',
        group: organization.OWNER,
        memo: '',
      },
      groups: [
        organization.OWNER,
        organization.MEMBER,
      ],
      organizations: [],
    };
  },
  computed: {
    rules() {
      return {
        email: [
          {
            required: true,
            message: this.$t('form_rules.required', { key: this.$t('user_create.email') }),
          },
          { 
            type: 'email', 
            message: this.$t('form_rules.email_format', { value: this.form.email }),
          },
        ],
        organizationId: [
          {
            required: true,
            message: this.$t('form_rules.required', { key: this.$t('user_create.organization') }),
          },
        ],
      };
    },
  },
  methods: {
    submit() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.resetFields();
    },
  },
  mounted() {
    organizationServ.list().then((res) => {
      const { list } = res;

      this.organizations = list;
    });
  },
};
</script>

<style lang="scss" scoped>
.user-create {
  .form {
    max-width: 500px;
  }
}
</style>
