<template>
  <div class="user-detail">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.user') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item :to="{ name: 'user-list' }">
        {{ $t('navbar.user_list') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ user.email }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-section :title="$t('user_detail.title')">
      <table class="info">
        <tr>
          <td>{{ $t('user_detail.email') }}</td>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <td>{{ $t('user_detail.status') }}</td>
          <td>
            <el-tag size="small" :type="tagType(user.status)">
              {{ $t(`organization_user_status.${user.status}`) }}
            </el-tag>
          </td>
        </tr>
        <tr>
          <td>{{ $t('user_detail.organization') }}</td>
          <td>
            <span v-if="!user.organization">-</span>
            <router-link v-else :to="{ name: 'organization-detail', params: { organizationId: user.organization.organizationId } }">
              {{ user.organization.name }}
            </router-link>
          </td>
        </tr>
        <tr>
          <td>{{ $t('user_detail.group') }}</td>
          <td>{{ $t(`user_group.${user.group}`) }}</td>
        </tr>
        <tr>
          <td>{{ $t('user_detail.created_at') }}</td>
          <td>{{ user.created | formatDate('YYYY-MM-DD HH:mm:ss') }}</td>
        </tr>
      </table>
      <el-button size="mini" type="primary" @click="$router.push({ name: 'tx-list', query: { creater: user.userId } })">
        {{ $t('user_detail.tx_created_all') }}
      </el-button>
      <el-button size="mini" @click="$router.push({ name: 'tx-list', query: { approver: user.userId } })">
        {{ $t('user_detail.tx_approved_all') }}
      </el-button>
      <el-button 
        v-if="user.status === USER_STATUS_LOCKED" 
        size="mini" 
        type="warning" 
        plain
        @click="unlock"
      >
        {{ $t('user_detail.unlock_user') }}
      </el-button>
    </el-section>
    <el-section :title="$t('user_detail.user_authority') + ` (${count})`">
      <el-table stripe :data="roles">
        <el-table-column :label="$t('user_detail.wallet')" prop="name" />
        <el-table-column align="center" :label="$t('user_detail.coin')">
          <template slot-scope="scope">
            <coin :type="scope.row.coin" :size="16" />
            <span class="coin">{{ $t(`coin.${scope.row.coin}`) }}</span>
          </template>
        </el-table-column>
        <el-table-column align="center" :label="$t('user_detail.balance')">
          <template slot-scope="scope">
            {{ $n(scope.row.balance, `coin.long.${scope.row.coin}`) }}
            {{ $t(`coin.${scope.row.coin}`) }}
          </template>
        </el-table-column>
        <el-table-column align="center" :label="$t('user_detail.authority')">
          <template slot-scope="scope"> 
            {{ $t(`wallet_role.${scope.row.role}`) }}
          </template>
        </el-table-column>
        <el-table-column align="center" :label="$t('user_detail.limit')">
          <template slot-scope="scope">
            <template v-if="scope.row.limit">
              {{ $n(scope.row.limit, 'coin.limit') }}
              {{ $t(`coin.${scope.row.coin}`) }}
            </template>
            <template v-else>-</template>
          </template>
        </el-table-column>
        <el-table-column align="center">
          <template slot-scope="scope">
            <router-link :to="{ name: 'wallet-detail', params: { walletId: scope.row.walletId } }">
              {{ $t('user_detail.view') }}
            </router-link>
          </template>
        </el-table-column>
      </el-table>
      <footer class="pagination">
        <el-pagination 
          hide-on-single-page
          small
          layout="prev, pager, next"
          :total="50"
        />
      </footer>
    </el-section>
  </div>
</template>

<script>
import { USER_STATUS_LOCKED } from '@/constants/organization';
import { userStatus as mixinStatus } from '@/mixins/status';

export default {
  data() {
    return {
      user: {
        userId: '1',
        email: 'xxxx@sbibits.com',
        status: 'LOCKED',
        organization: {
          organizationId: '1',
          name: 'Google',
        },
        group: 'owner',
        created: new Date(),
      },
      roles: [
        {
          walletId: '1',
          name: 'Test',
          coin: 'BTC',
          role: 'admin',
          balance: '32',
        },
        {
          walletId: '2',
          name: 'Test-2',
          coin: 'BTC',
          role: 'approver',
          limit: '10',
          balance: '1',
        },
        {
          walletId: '3',
          name: 'Test-3',
          coin: 'XRP',
          role: 'operator',
          balance: '12',
        },
        {
          walletId: '4',
          name: 'Test-4',
          coin: 'ETH',
          role: 'viewer',
          balance: '12',
        },
      ],
      count: 4,
      USER_STATUS_LOCKED,
    };
  },
  mixins: [mixinStatus],
  methods: {
    unlock() {
      this.$prompt(
        this.$t('user_detail.message'), 
        this.$t('user_detail.warning'), 
        {
          confirmButtonText: this.$t('user_detail.confirm'),
          cancelButtonText: this.$t('user_detail.cancel'),
          inputPlaceholder: this.$t('user_detail.memo'),
          inputType: 'textarea',
          type: 'warning',
        },
      ).then(({ value }) => {
        console.log(value);
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.user-detail {
  .info {
    margin-bottom: 10px;
  }

  .coin {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}
</style>
