<template>
  <div class="user-list">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ name: 'home' }">
        {{ $t('navbar.dashboard') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.user') }}
      </el-breadcrumb-item>
      <el-breadcrumb-item>
        {{ $t('navbar.user_list') }}
      </el-breadcrumb-item>
    </el-breadcrumb>
    <el-section :title="$t('search.label')">
      <el-form @submit.native.prevent="submit">
        <el-row :gutter="15">
          <el-col :sm="4">
            <el-form-item>
              <el-input v-model="form.email" :placeholder="$t('user_list.email')" />
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <el-select 
                v-model="form.status"
                style="width: 100%"
                :placeholder="$t('user_list.status')"
              >
                <el-option 
                  v-for="status in statuses"
                  :key="status"
                  :label="$t(`organization_user_status.${status}`)"
                  :value="status"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <remote-search 
                v-model="form.organization" 
                :placeholder="$t('user_list.organization')"
                :method="searchOrganization"
              />
            </el-form-item>
          </el-col>
          <el-col :sm="4">
            <el-form-item>
              <el-select
                style="width: 100%"
                v-model="form.group"
                :placeholder="$t('user_list.group')"
              >
                <el-option 
                  v-for="group in groups"
                  :key="group"
                  :value="group"
                  :label="$t(`user_group.${group}`)"
                />
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :sm="8">
            <el-form-item>
              <el-date-picker
                style="width: 100%"
                v-model="form.time"
                type="datetimerange"
                clearable
                :range-separator="$t('tx_list.to')"
                :start-placeholder="$t('tx_list.start_time')"
                :end-placeholder="$t('tx_list.end_time')"
              />
            </el-form-item>
          </el-col>
        </el-row>
        <el-button 
          native-type="submit" 
          type="primary"
        >
          {{ $t('form.submit') }}
        </el-button>
        <el-button 
          native-type="reset"
        >
          {{ $t('form.reset') }}
        </el-button>
      </el-form>
    </el-section>
    <el-section :title="$t('user_list.list') + ` (${count})`">
      <el-table :data="list" stripe>
        <el-table-column 
          show-overflow-tooltip
          :label="$t('user_list.email')" 
          prop="email" 
        />
        <el-table-column 
          show-overflow-tooltip
          align="center" 
          :label="$t('user_list.status')"
        >
          <template slot-scope="scope">
            <el-tag size="small" :type="tagType(scope.row.status)">
              {{ $t(`organization_user_status.${scope.row.status}`) }}
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column 
          show-overflow-tooltip
          align="center" 
          :label="$t('user_list.organization')"
        >
          <template slot-scope="scope">
            <template v-if="!scope.row.organization">-</template>
            <router-link v-else :to="{ name: 'organization-detail', params: { name: scope.row.organization.organizationId } }">
              {{ scope.row.organization.name }}
            </router-link>
          </template>
        </el-table-column>
        <el-table-column 
          show-overflow-tooltip
          align="center" 
          :label="$t('user_list.group')"
        >
          <template slot-scope="scope">
            {{ $t(`user_group.${scope.row.group}`) }}
          </template>
        </el-table-column>
        <el-table-column 
          show-overflow-tooltip
          align="center" 
          :label="$t('user_list.wallet')" 
          prop="wallet" 
        />
        <el-table-column 
          align="center" 
          show-overflow-tooltip
          :label="$t('user_list.created_at')"
        >
          <template slot-scope="scope">
            {{ scope.row.created | formatDate('YYYY-MM-DD HH:mm:ss') }}
          </template>
        </el-table-column>
        <el-table-column show-overflow-tooltip align="center">
          <template slot-scope="scope">
            <el-dropdown 
              trigger="click" 
              @command="(config) => $router.push(config)"
            >
              <a class="options">
                {{ $t('user_list.options') }}
              </a>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item :command="{ name: 'user-detail', params: { userId: scope.row.userId } }">
                  {{ $t('user_list.view') }}
                </el-dropdown-item>
                <el-dropdown-item 
                  divided
                  :command="{ name: 'tx-list', query: { creater: scope.row.userId } }"
                >
                  {{ $t('user_list.tx_created_all') }}
                </el-dropdown-item>
                <el-dropdown-item :command="{ name: 'tx-list', query: { approver: scope.row.userId } }">
                  {{ $t('user_list.tx_approved_all') }}
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>
      <footer class="pagination">
        <el-pagination 
          hide-on-single-page
          small
          layout="prev, pager, next"
          :total="50"
        />
      </footer>
    </el-section>
  </div>
</template>

<script>
import * as organization from '@/constants/organization';
import mixinSearch from '@/mixins/search';
import { userStatus as mixinStatus } from '@/mixins/status';
import * as userServ from '@/services/user';

export default {
  data() {
    return {
      form: {
        email: '',
        status: '',
        organizationId: '',
        group: '',
        time: [],
      },
      groups: [
        organization.OWNER,
        organization.MEMBER,
      ],
      statuses: [
        organization.USER_STATUS_ENABLED,
        organization.USER_STATUS_PENDING,
        organization.USER_STATUS_LOCKED,
      ],
      list: [],
      count: 0,
    };
  },
  mixins: [
    mixinSearch,
    mixinStatus,
  ],
  mounted() {
    userServ.list().then((res) => {
      const { list, count } = res;

      this.list = list;
      this.count = count;
    });
  },
};
</script>

<style lang="scss" scoped>
.user-list {
  .options {
    cursor: pointer;
  }
}
</style>
