<template>
  <i
    class="coin-icon"
    :class="className"
    :style="{
      height: `${size}px`,
      width: `${size}px`,
      backgroundSize: `${size}px ${size}px`,
    }"
  />
</template>

<script>
import { BTC, ETH, XRP } from '@/constants/wallet';

export default {
  name: 'coin-icon',
  props: {
    type: String,
    size: {
      type: Number,
      default: 34,
    },
  },
  computed: {
    className() {
      switch (this.type) {
        case ETH:
          return 'coin-icon-eth';

        case XRP:
          return 'coin-icon-xrp';

        case BTC:
          return 'coin-icon-btc';

        default:
          return '';
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/theme/utils";

.coin-icon {
  display: inline-block;
  vertical-align: middle;
  background-color: #C4C4C4;
  border-radius: 50%;

  &.coin-icon-btc {
    background: url('~@/assets/coins/BTC.svg');
  }

  &.coin-icon-eth {
    background: url('~@/assets/coins/ETH.svg');
  }

  &.coin-icon-xrp {
    background: url('~@/assets/coins/XRP.svg');
  }
}
</style>
