<template>
  <el-tooltip effect="dark" :content="$t('copy.text')" placement="top">
    <i class="el-icon-copy-document" @click="copy" />
  </el-tooltip>
</template>

<script>
import copy from 'copy-text-to-clipboard';

export default {
  props: {
    value: String,
  },
  methods: {
    copy() {
      copy(this.value);
      this.$message({
        type: 'success',
        message: this.$t('copy.success'),
        showClose: true,
      });
    },
  },
};
</script>


<style lang="scss" scoped>
.el-icon-copy-document {
  color: #065BEA;
  cursor: pointer;
}
</style>
