<template>
  <el-select
    :value="value"
    filterable
    remote
    reserve-keyword
    style="width: 100%"
    :placeholder="placeholder"
    :remote-method="request"
    :loading="loading"
    @input="value => $emit('input', value)"
  >
    <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      :value="item.value"
    />
  </el-select>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
      options: [],
      timer: null,
    };
  },
  props: {
    value: String,
    placeholder: String,
    method: {
      type: Function,
      default() {
        return Promise.resolve([]);
      },
    },
  },
  methods: {
    request(value) {
      if (this.timer) clearTimeout(this.timer);
      if (!value) {
        this.options = [];
      } else {
        this.timer = setTimeout(() => {
          this.loading = true;
          this.method(value).then((options) => {
            this.options = options;
          }).catch((err) => {
            this.$message({
              type: 'error',
              message: err.message,
              showClose: true,
            });
            this.options = [];
          }).finally(() => {
            this.loading = false;
          });
        }, 400);
      }
    },
  },
};
</script>
