<template>
  <div class="section">
    <h4 class="title" v-if="title">
      {{ title }}
      <slot name="more" />
    </h4>
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    title: String,
  },
};
</script>

<style lang="scss" scoped>
.section {
  background: #fff;
  padding: 15px;
  box-shadow: 4px 6px 20px 0 rgba(0,48,144,.08);
  margin-bottom: 20px;
  box-sizing: border-box;

  .title {
    margin: 0 0 13px;
    font-size: 16px;
  }
}
</style>
