<template>
  <div id='app'>
      <Header />
      <el-main>
        <el-row :gutter="40" type="flex" justify="center">
          <el-col :span="15"><Operation /></el-col>
          <el-col :span="5"><Step /></el-col>
        </el-row>
        <el-row :gutter="40" type="flex" justify="center">
          <el-col :span="20"><Table /></el-col>
        </el-row>
      </el-main>
      <el-footer>All rights reserved.</el-footer>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Operation from './components/Operation.vue'
import Step from './components/Step.vue'
import Table from './components/Table.vue'

export default {
  name: 'App',
  components: {
    Header,
    Operation,
    Step,
    Table,
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #EBEEF5;
  min-width: 1300px;
  /* margin-top: 60px; */
}
#main {
  min-width: 720px;
  max-width: 1440px;
  margin-left: 0;
}
.el-row {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}
</style>
